{
    "extracts": [
        {
            "output": "CA-QC-EXO.osm.pbf",
            "description": "Communauté métropolitaine de Montréal, Saint-Jérôme, Kahnawà:ke",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-QC-EXO/CA-QC-EXO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-QC-RTC.osm.pbf",
            "description": "Agglomération de Québec",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-QC-RTC/CA-QC-RTC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-QC-STLevis.osm.pbf",
            "description": "Lévis, Québec",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-QC-STLevis/CA-QC-STLevis.poly",
                "file_type": "poly"
            }
        }
    ]
}
