{
    "extracts": [
        {
            "output": "NSW/level0-au-state-NSW.osm.pbf",
            "description": "New South Wales, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NSW/level0-au-state-NSW.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "QLD/level0-au-state-QLD.osm.pbf",
            "description": "Queensland, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "QLD/level0-au-state-QLD.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TAS/level0-au-state-TAS.osm.pbf",
            "description": "Tasmania, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TAS/level0-au-state-TAS.poly",
                "file_type": "poly"
            }
        },
                {
            "output": "VIC/level0-au-state-VIC.osm.pbf",
            "description": "Victoria, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "VIC/level0-au-state-VIC.poly",
                "file_type": "poly"
            }
        }
    ]
}
