{
    "extracts": [
        {
            "output": "IT-RM-ATAC.osm.pbf",
            "description": "Provincia di Roma - ATAC - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IT-RM-ATAC/IT-RM-ATAC.poly",
                "file_type": "poly"
            }
        }
    ]
}
