{
    "extracts": [
        {
            "output": "xx-departement-haute-garonne.osm.pbf",
            "description": "Département Haute-Garonne (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-haute-garonne.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-OCC-liO.osm.pbf",
            "description": "Région Occitanie (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-OCC-liO/FR-OCC-liO.poly",
                "file_type": "poly"
            }
        }
    ]
}
