{
    "extracts": [
        {
            "output": "IL-M-haSharon.osm.pbf",
            "description": "haSharon Subdistrict - r11587694 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-haSharon/IL-M-haSharon.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Petah_Tikva.osm.pbf",
            "description": "Petah Tikva Subdistrict - r11587672 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Petah_Tikva/IL-M-Petah_Tikva.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Ramala.osm.pbf",
            "description": "Ramala Subdistrict - r11587600 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Ramala/IL-M-Ramala.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Rehovot.osm.pbf",
            "description": "Rehovot Subdistrict - r11587514 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Rehovot/IL-M-Rehovot.poly",
                "file_type": "poly"
            }
        }
    ]
}
