{
    "extracts": [
        {
            "output": "IL-M-haSharon.osm.pbf",
            "description": "haSharon Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-haSharon/IL-M-haSharon.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Petah_Tikva.osm.pbf",
            "description": "Petah Tikva Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Petah_Tikva/IL-M-Petah_Tikva.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Ramala.osm.pbf",
            "description": "Ramala Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Ramala/IL-M-Ramala.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-M-Rehovot.osm.pbf",
            "description": "Rehovot Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Rehovot/IL-M-Rehovot.poly",
                "file_type": "poly"
            }
        }
    ]
}
