{
    "extracts": [
        {
            "output": "IL-M-HaSharon.osm.pbf",
            "description": "HaSharon Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-HaSharon/IL-M-HaSharon.geojson",
                "file_type": "geojson"
            }
        },
        {
            "output": "IL-M-Petah_Tikva.osm.pbf",
            "description": "Petah Tikva Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Petah_Tikva/IL-M-Petah_Tikva.geojson",
                "file_type": "geojson"
            }
        },
        {
            "output": "IL-M-Ramla.osm.pbf",
            "description": "Ramla Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Ramla/IL-M-Ramla.geojson",
                "file_type": "geojson"
            }
        },
        {
            "output": "IL-M-Rehovot.osm.pbf",
            "description": "Rehovot Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-M-Rehovot/IL-M-Rehovot.geojson",
                "file_type": "geojson"
            }
        }
    ]
}
