{
    "extracts": [
        {
            "output": "IL-D-Ashkelon.osm.pbf",
            "description": "Ashkelon Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-D-Ashkelon/IL-D-Ashkelon.geojson",
                "file_type": "geojson"
            }
        },
        {
            "output": "IL-D-Beersheba.osm.pbf",
            "description": "Beersheba Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-D-Beersheba/IL-D-Beersheba.geojson",
                "file_type": "geojson"
            }
        }
    ]
}
