{
    "extracts": [
        {
            "output": "IL-D-Ashkelon.osm.pbf",
            "description": "Ashkelon Subdistrict - r11584353 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-D-Ashkelon/IL-D-Ashkelon.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-D-Beersheba.osm.pbf",
            "description": "Beersheba Subdistrict - r11584306 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-D-Beersheba/IL-D-Beersheba.poly",
                "file_type": "poly"
            }
        }
    ]
}
