{
    "extracts": [
        {
            "output": "IN-KL-Kochi.osm.pbf",
            "description": "Greater Kochi (Greater Cochin), Kerala",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-KL-Kochi/IN-KL-Kochi.poly",
                "file_type": "poly"
            }
        }
    ]
}
