{
    "extracts": [
        {
            "output": "NI/level0-nicaragua.osm.pbf",
            "description": "Nicaragua",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NI/level0-nicaragua.poly",
                "file_type": "poly"
            }
        }
    ]
}
