{
    "extracts": [
        {
            "output": "US/time-zone-UTC-06.osm.pbf",
            "description": "Unites States of America (roughly CST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/time-zone-UTC-06.poly",
                "file_type": "poly"
            }
        }
    ]
}
