{
    "extracts": [
        {
            "output": "US-VA-BT.osm.pbf",
            "description": "Towns of Blacksburg and Christiansburg, Virgina - Blacksburg Transit",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-VA-BT/US-VA-BT.poly",
                "file_type": "poly"
            }
        }
    ]
}
