{
    "extracts": [
        {
            "output": "US-UT-All.osm.pbf",
            "description": "Utha",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-UT-All/US-UT-All.poly",
                "file_type": "poly"
            }
        }
    ]
}
