{
    "extracts": [
        {
            "output": "AMBA/AR-AMBA.osm.pbf",
            "description": "Northeast Region",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AMBA/AR-AMBA/AR-AMBA.poly",
                "file_type": "poly"
            }
        }
    ]
}
