{
    "extracts": [
        {
            "output": "AR-AMBA.osm.pbf",
            "description": "Área Metropolitana de Buenos Aires / Argentina",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AR-AMBA/AR-AMBA.poly",
                "file_type": "poly"
            }
        }
    ]
}
