{
    "extracts": [
        {
            "output": "AMBA/AR-AMBA-Todas.osm.pbf",
            "description": "Área Metropolitana de Buenos Aires / Argentina",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AMBA/AR-AMBA-Todas/AR-AMBA-Todas.poly",
                "file_type": "poly"
            }
        }
    ]
}
