{
    "extracts": [
        {
            "output": "RO-SB-Tursib.osm.pbf",
            "description": "Tursib network in city of Sibiu  (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RO-SB-Tursib/RO-SB-Tursib.poly",
                "file_type": "poly"
            }
        }
    ]
}
