{
    "extracts": [
        {
            "output": "CA/level0-ca-time-zone-UTC-04.osm.pbf",
            "description": "Canada (roughly America/Halifax time zone plus Isle of Newfoundland)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA/level0-ca-time-zone-UTC-04.poly",
                "file_type": "poly"
            }
        }
    ]
}
