{
    "extracts": [
        {
            "output": "BO/level0-bolivia.osm.pbf",
            "description": "Bolivia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BO/level0-bolivia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CL/level0-chile.osm.pbf",
            "description": "Chile",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CL/level0-chile.poly",
                "file_type": "poly"
            }
        }
    ]
}
