{
    "extracts": [
        {
            "output": "africa-filtered.osm.pbf",
            "description": "Africa",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "africa-filtered.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "asia-filtered.osm.pbf",
            "description": "Asia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "asia-filtered.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "europe-filtered.osm.pbf",
            "description": "Europe",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "europe-filtered.poly",
                "file_type": "poly"
            }
        }
    ]
}
