{
    "extracts": [
        {
            "output": "central-america-filtered.osm.pbf",
            "description": "Central America",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "central-america-filtered.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "north-america-filtered.osm.pbf",
            "description": "North America",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "north-america-filtered.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "south-america-filtered.osm.pbf",
            "description": "South America",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "south-america--filtered.poly",
                "file_type": "poly"
            }
        }
    ]
}
