{
    "extracts": [
        {
            "output": "europe.osm.pbf",
            "description": "Europe",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "europe.poly",
                "file_type": "poly"
            }
        }
    ]
}
