{
    "extracts": [
        {
            "output": "US-WI-MCTS.osm.pbf",
            "description": "City of Milwaukee and Milwaukee County, Wisconsin",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-WI-MCTS/US-WI-MCTS.poly",
                "file_type": "poly"
            }
        }
    ]
}
