{
    "extracts": [
        {
            "output": "level1-IN-states-DL-HR-UP.osm.pbf",
            "description": "Some States of India",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-IN-states-DL-HR-UP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-IN-states-GJ-MH-RJ.osm.pbf",
            "description": "Some States of India",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-IN-states-GJ-MH-RJ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-IN-states-KA-KL-TN-TS.osm.pbf",
            "description": "Some States of India",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-IN-states-KA-KL-TN-TS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-IN-states-WB.osm.pbf",
            "description": "Some States of India",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-IN-states-WB.poly",
                "file_type": "poly"
            }
        }
    ]
}
