{
    "extracts": [
        {
            "output": "KA/level4-IN-state-KA.osm.pbf",
            "description": "Karnataka",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "KA/level4-IN-state-KA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "KL/level4-IN-state-KL.osm.pbf",
            "description": "Kerala",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "KL/level4-IN-state-KL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TN/level4-IN-state-TN.osm.pbf",
            "description": "Tamil Nadu",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TN/level4-IN-state-TN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TS/level4-IN-state-TS.osm.pbf",
            "description": "Telangana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TS/level4-IN-state-TS.poly",
                "file_type": "poly"
            }
        }
    ]
}
