{
    "extracts": [
        {
            "output": "GJ/level4-IN-state-GJ.osm.pbf",
            "description": "Gujarat",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GJ/level4-IN-state-GJ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MH/level4-IN-state-MH.osm.pbf",
            "description": "Maharashtra",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MH/level4-IN-state-MH.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "RJ/level4-IN-state-RJ.osm.pbf",
            "description": "Rajasthan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RJ/level4-IN-state-RJ.poly",
                "file_type": "poly"
            }
        }
    ]
}
