{
    "extracts": [
        {
            "output": "DL/level4-IN-state-DL.osm.pbf",
            "description": "Delhi",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DL/level4-IN-state-DL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HR/level4-IN-state-HR.osm.pbf",
            "description": "Haryana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HR/level4-IN-state-HR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "UP/level4-IN-state-UP.osm.pbf",
            "description": "Uttar Pradesh",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "UP/level4-IN-state-UP.poly",
                "file_type": "poly"
            }
        }
    ]
}
