{
    "extracts": [
        {
            "output": "WB/level4-IN-state-WB.osm.pbf",
            "description": "West Bengal",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "WB/level4-IN-state-WB.poly",
                "file_type": "poly"
            }
        }
    ]
}
