{
    "extracts": [
        {
            "output": "departement-drome.osm.pbf",
            "description": "Département Drôme",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-drome.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "departement-puy-de-dome.osm.pbf",
            "description": "Département Puy-de-Dôme",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-puy-de-dome.poly",
                "file_type": "poly"
            }
        }
    ]
}
