{
    "extracts": [
        {
            "output": "FR-ARA-Drome.osm.pbf",
            "description": "Département Drôme et la ville de Guilherand-Granges, Ardèche",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-ARA-Drome/FR-ARA-Drome.poly",
                "file_type": "poly"
            }
        }
    ]
}
