{
    "extracts": [
        {
            "output": "FR-ARA-SMTCAC.osm.pbf",
            "description": "Clermont Auvergne Métropole, le parc Vulcania et les villes de Sayat, Dallet, Mezel, St Bonnet et Pérignat-sur-Allier, departément Puy-de-Dôme",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-ARA-SMTCAC/FR-ARA-SMTCAC.poly",
                "file_type": "poly"
            }
        }
    ]
}
