{
    "extracts": [
        {
            "output": "xx-departement-bas-rhin.osm.pbf",
            "description": "Département Bas-Rhin",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-bas-rhin.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-meurthe-et-moselle.osm.pbf",
            "description": "Département Meurthe-et-Moselle",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-meurthe-et-moselle.poly",
                "file_type": "poly"
            }
        }
    ]
}
