{
    "extracts": [
        {
            "output": "FR-GES-CTS.osm.pbf",
            "description": "Eurométropole de Strasbourg",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-GES-CTS/FR-GES-CTS.poly",
                "file_type": "poly"
            }
        }
    ]
}
