{
    "extracts": [
        {
            "output": "xx-departement-alpes-de-haute-provence.osm.pbf",
            "description": "Département Alpes-de-Haute-Provence (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-alpes-de-haute-provence.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-alpes-maritimes.osm.pbf",
            "description": "Département Alpes-Maritimes (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-alpes-maritimes.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-bouches-du-rhone.osm.pbf",
            "description": "Département Bouches-du-Rhône (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-bouches-du-rhone.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-hautes-alpes.osm.pbf",
            "description": "Département Hautes-Alpes (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-hautes-alpes.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-var.osm.pbf",
            "description": "Département Var (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-var.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-vaucluse.osm.pbf",
            "description": "Département Vaucluse (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-vaucluse.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-PAC-Zou.osm.pbf",
            "description": "Provence-Alpes-Côte d'Azur (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Zou/FR-PAC-Zou.poly",
                "file_type": "poly"
            }
        }
    ]
}
