{
    "extracts": [
        {
            "output": "xx-departement-alpes-de-haute-provence.osm.pbf",
            "description": "Département Alpes-de-Haute-Provence",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-alpes-de-haute-provence.poly",
                "file_type": "poly"
            }
        }
    ]
}
