{
    "extracts": [
        {
            "output": "FR-PAC-Bouches-du-Rhone.osm.pbf",
            "description": "Département Bouches-du-Rhone (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Bouches-du-Rhone/FR-PAC-Bouches-du-Rhone.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-PAC-Orizo.osm.pbf",
            "description": "Grand Avignon (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Orizo/FR-PAC-Orizo.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-PAC-RTM.osm.pbf",
            "description": "Ville de Marseille (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-RTM/FR-PAC-RTM.poly",
                "file_type": "poly"
            }
        }
    ]
}
