{
    "extracts": [
        {
            "output": "FR-PAC-Alpes-Maritimes.osm.pbf",
            "description": "Département Maritimes (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Alpes-Maritimes/FR-PAC-Alpes-Maritimes.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-PAC-Lignes-d-Azur.osm.pbf",
            "description": "Métropole Nice Côte d'Azur (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Lignes-d-Azur/FR-PAC-Lignes-d-Azur.poly",
                "file_type": "poly"
            }
        }
    ]
}
