{
    "extracts": [
        {
            "output": "FR-PAC-Mistral.osm.pbf",
            "description": "Métropole Toulon-Provence-Méditerranée (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Mistral/FR-PAC-Mistral.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-PAC-Var.osm.pbf",
            "description": "Département Var (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Var/FR-PAC-Var.poly",
                "file_type": "poly"
            }
        }
    ]
}
