{
    "extracts": [
        {
            "output": "FR-PAC-Alpes-de-Haute-Provence.osm.pbf",
            "description": "Département Alpes-de-Haute-Provence et Vinon-Sur-Verdon (Var)(https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Alpes-de-Haute-Provence/FR-PAC-Alpes-de-Haute-Provence.poly",
                "file_type": "poly"
            }
        }
    ]
}
