{
    "extracts": [
        {
            "output": "FR-PAC-Hautes-Alpes.osm.pbf",
            "description": "Département Hautes-Alpes et Claret (04) et Curbans (04) (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Hautes-Alpes/FR-PAC-Hautes-Alpes.poly",
                "file_type": "poly"
            }
        }
    ]
}
