{
    "extracts": [
        {
            "output": "FR-PAC-Vaucluse.osm.pbf",
            "description": "Département Vaucluse (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PAC-Vaucluse/FR-PAC-Vaucluse.poly",
                "file_type": "poly"
            }
        }
    ]
}
