{
    "extracts": [
        {
            "output": "DE-MV-KGVP.osm.pbf",
            "description": "Kooperationsgemeinschaft 'Vorpommern'",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-KGVP/DE-MV-KGVP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-MV-MVVG.osm.pbf",
            "description": "Mecklenburg-Vorpommersche Verkehrsgesellschaft; Stadtverkehr Demmin; Stadtverkehr Neubrandenburg; Stadtverkehr Neustrelitz; Stadtverkehr Waren",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-MVVG/DE-MV-MVVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-MV-NAHBUS.osm.pbf",
            "description": "NAHBUS Nordwestmecklenburg",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-NAHBUS/DE-MV-NAHBUS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-MV-VLP.osm.pbf",
            "description": "Verkehrsgesellschaft Ludwigslust-Parchim",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-VLP/DE-MV-VLP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-MV-VVR.osm.pbf",
            "description": "Verkehrsgesellschaft Vorpommern-Rügen",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-VVR/DE-MV-VVR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-MV-VVW.osm.pbf",
            "description": "Verkehrsverbund Warnow",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-MV-VVW/DE-MV-VVW.poly",
                "file_type": "poly"
            }
        }
    ]
}
