{
    "extracts": [
        {
            "output": "BR-CE-Metrofor.osm.pbf",
            "description": "Municípios de Fortaleza, Caucaia e Maracanaú / Ceará",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BR-CE-Metrofor/BR-CE-Metrofor.poly",
                "file_type": "poly"
            }
        }
    ]
}
