{
    "extracts": [
        {
            "output": "LU-AVL.osm.pbf",
            "description": "Luxembourg - Autobus de la Ville de Luxembourg - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU-AVL/LU-AVL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LU-CFL.osm.pbf",
            "description": "Luxembourg - Chemins de Fer Luxembourgeois - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU-CFL/LU-CFL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LU-Luxtram.osm.pbf",
            "description": "Luxembourg - Luxtram - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU-Luxtram/LU-Luxtram.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LU-RGTR.osm.pbf",
            "description": "Luxembourg - Régime Général des Transports Routiers - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU-RGTR/LU-RGTR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LU-TICE.osm.pbf",
            "description": "Luxembourg - Transport Intercommunal de personnes dans le Canton d'Esch-sur-Alzette - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU-TICE/LU-TICE.poly",
                "file_type": "poly"
            }
        }
    ]
}
