{
    "extracts": [
        {
            "output": "AU-VIC-All.osm.pbf",
            "description": "Victoria, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AU-VIC-All/AU-VIC-All.poly",
                "file_type": "poly"
            }
        }
    ]
}
