{
    "extracts": [
        {
            "output": "yy-region-latio.osm.pbf",
            "description": "Region Latio - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "yy-region-latio.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "yy-region-tuscany.osm.pbf",
            "description": "Region Tuscany - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "yy-region-tuscany.poly",
                "file_type": "poly"
            }
        }
    ]
}
