{
    "extracts": [
        {
            "output": "IN/level0-india.osm.pbf",
            "description": "India",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN/level0-india.poly",
                "file_type": "poly"
            }
        }
    ]
}
