{
    "extracts": [
        {
            "output": "ES-CT-ATMB.osm.pbf",
            "description": "Província de Barcelona, Catalunya",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-CT-ATMB/ES-CT-ATMB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-CT-ATMG.osm.pbf",
            "description": "Província de Girona, Catalunya",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-CT-ATMG/ES-CT-ATMG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-CT-ATML.osm.pbf",
            "description": "Província de Lleida, Catalunya",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-CT-ATML/ES-CT-ATML.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-CT-ATMT.osm.pbf",
            "description": "Província de Tarragona, Catalunya",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-CT-ATMT/ES-CT-ATMT.poly",
                "file_type": "poly"
            }
        }
    ]
}
