{
    "extracts": [
        {
            "output": "IN/level0-us-state-IN.osm.pbf",
            "description": "Indiana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN/level0-us-state-IN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MI/level0-us-state-MI.osm.pbf",
            "description": "Michigan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MI/level0-us-state-MI.poly",
                "file_type": "poly"
            }
        }
    ]
}
