{
    "extracts": [
        {
            "output": "DC/DC.osm.pbf",
            "description": "District of Columbia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DC/DC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MD/MD.osm.pbf",
            "description": "Maryland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MD/MD.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PA/PA.osm.pbf",
            "description": "Pennsylvania",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PA/PA.poly",
                "file_type": "poly"
            }
        }
    ]
}
