{
    "extracts": [
        {
            "output": "MA/level0-us-state-MA.osm.pbf",
            "description": "Massachusetts",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MA/level0-us-state-MA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NY/level0-us-state-NY.osm.pbf",
            "description": "New York",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NY/level0-us-state-NY.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "RI/level0-us-state-RI.osm.pbf",
            "description": "Rhode Island",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RI/level0-us-state-RI.poly",
                "file_type": "poly"
            }
        }
    ]
}
