{
    "extracts": [
        {
            "output": "TN/level0-us-state-TN.osm.pbf",
            "description": "Tennessee",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TN/level0-us-state-TN.poly",
                "file_type": "poly"
            }
        }
    ]
}
