{
    "extracts": [
        {
            "output": "level1-states-CT-MA-ME-NH-NY-RI-VT.osm.pbf",
            "description": "Unites States of America (north east of EST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-states-CT-MA-ME-NH-NY-RI-VT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-states-DC-DE-MD-NJ-PA-VA-WV.osm.pbf",
            "description": "Unites States of America (mid east of EST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-states-DC-DE-MD-NJ-PA-VA-WV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-states-FL-GA-NC-SC-TN.osm.pbf",
            "description": "Unites States of America (south of EST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-states-FL-GA-NC-SC-TN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-states-IN-KY-MI-OH.osm.pbf",
            "description": "Unites States of America (north west of EST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-states-IN-KY-MI-OH.poly",
                "file_type": "poly"
            }
        }
    ]
}
