{
    "extracts": [
        {
            "output": "DC/level0-us-state-DC.osm.pbf",
            "description": "District of Columbia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DC/level0-us-state-DC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MD/level0-us-state-MD.osm.pbf",
            "description": "Maryland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MD/level0-us-state-MD.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PA/PA.osm.pbf",
            "description": "Pennsylvania",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PA/level0-us-state-PA.poly",
                "file_type": "poly"
            }
        }
    ]
}
