{
    "extracts": [
        {
            "output": "IN/IN.osm.pbf",
            "description": "District of Columbia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN/IN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MI/MI.osm.pbf",
            "description": "Michigan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MI/MI.poly",
                "file_type": "poly"
            }
        }
    ]
}
