{
    "extracts": [
        {
            "output": "US-IN-ECT.pbf",
            "description": "City of East Chicago, Indiana and northwestern parts of Lake County, Indiana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-IN-ECT/US-IN-ECT.poly",
                "file_type": "poly"
            }
        }
    ]
}
