{
    "extracts": [
        {
            "output": "CA/level0-ca-time-zone-UTC-07.osm.pbf",
            "description": "Canada (roughly MST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA/level0-ca-time-zone-UTC-07.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US/level0-us-time-zone-UTC-07.osm.pbf",
            "description": "Unites States of America (roughly MST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/level0-us-time-zone-UTC-07.poly",
                "file_type": "poly"
            }
        }
    ]
}
