{
    "extracts": [
        {
            "output": "north-holland-shared.osm.pbf",
            "description": "Province North Holland - used for some reports - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "north-holland-shared.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "amsterdam.osm.pbf",
            "description": "Amsterdam - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "amsterdam.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "amsterdam-shared.osm.pbf",
            "description": "Amsterdam - used for some reports - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "amsterdam-shared.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "haarlemmermeer.osm.pbf",
            "description": "Haarlemmermeer - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "haarlemmermeer.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NL-NH-SHL.osm.pbf",
            "description": "Schiphol - Schiphol Landside/Airside - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NL-NH-SHL/NL-NH-SHL.poly",
                "file_type": "poly"
            }
        }
    ]
}
