{
    "extracts": [
        {
            "output": "zone-spain-east.osm.pbf",
            "description": "Spain, East",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zone-spain-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "zone-spain-north-east.osm.pbf",
            "description": "Spain, North-East",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zone-spain-north-east.poly",
                "file_type": "poly"
            }
        }
    ]
}
