{
    "extracts": [
        {
            "output": "AR/aragon.osm.pbf",
            "description": "Spain, East, aragon",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AR/aragon.poly",
                "file_type": "poly"
            }
        }
    ]
}
