{
    "extracts": [
        {
            "output": "00/level3-PH-state-00.osm.pbf",
            "description": "Metro Manila",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "00/level3-PH-state-00.poly",
                "file_type": "poly"
            }
        }
    ]
}
