{
    "extracts": [
        {
            "output": "US-WA-KCM.osm.pbf",
            "description": "King County, Washington",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-WA-KCM/US-WA-KCM.poly",
                "file_type": "poly"
            }
        }
    ]
}
