{
    "extracts": [
        {
            "output": "level4-IR-state-07.osm.pbf",
            "description": "Fars Province, Iran",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level4-IR-state-07.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level4-IR-state-23.osm.pbf",
            "description": "Tehran Province, Iran",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level4-IR-state-23.poly",
                "file_type": "poly"
            }
        }
    ]
}
