{
    "extracts": [
        {
            "output": "SA/level0-au-state-SA.osm.pbf",
            "description": "South Australia, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SA/level0-au-state-SA.poly",
                "file_type": "poly"
            }
        }
    ]
}
