{
    "extracts": [
        {
            "output": "MG/level4-minas-gerais.osm.pbf",
            "description": "Minas Gerais",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MG/level4-minas-gerais.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "RJ/level4-rio-de-janeiro.osm.pbf",
            "description": "Rio de Janeiro",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RJ/level4-rio-de-janeiro.poly",
                "file_type": "poly"
            }
        }
    ]
}
