{
    "extracts": [
        {
            "output": "level3-northeast-region.osm.pbf",
            "description": "Northeast Region",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level3-northeast-region.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level3-southeast-region.osm.pbf",
            "description": "Southeast Region",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level3-southeast-region.poly",
                "file_type": "poly"
            }
        }
    ]
}
