{
    "extracts": [
        {
            "output": "CE/level4-ceara.osm.pbf",
            "description": "Ceará",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CE/level4-ceara.poly",
                "file_type": "poly"
            }
        }
    ]
}
