{
    "extracts": [
        {
            "output": "IR-07-Shiraz.osm.pbf",
            "description": "Shiraz, Fars Province",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IR-07-Shiraz/IR-07-Shiraz.poly",
                "file_type": "poly"
            }
        }
    ]
}
