{
    "extracts": [
        {
            "output": "IN-DL-Delhi.osm.pbf",
            "description": "State of Delhi",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-DL-Delhi/IN-DL-Delhi.poly",
                "file_type": "poly"
            }
        }
    ]
}
