{
    "extracts": [
        {
            "output": "BOY/CO-BOY-Duitama.osm.pbf",
            "description": "Duitama / Boyacá",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BOY/CO-BOY-Duitama/CO-BOY-Duitama.poly",
                "file_type": "poly"
            }
        }
        {
            "output": "DC/CO-DC-Bogota.osm.pbf",
            "description": "Bogotá - Municipio / Distrito Capital",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DC/CO-DC-Bogota/CO-DC-Bogota.poly",
                "file_type": "poly"
            }
        }
    ]
}
