{
    "extracts": [
        {
            "output": "IL-Z-Acre.osm.pbf",
            "description": "Acre Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-Z-Acre/IL-Z-Acre.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-Z-Golan.osm.pbf",
            "description": "Golan Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-Z-Golan/IL-Z-Golan.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-Z-Jezreel.osm.pbf",
            "description": "Jezreel Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-Z-Jezreel/IL-Z-Jezreel.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-Z-Kinneret.osm.pbf",
            "description": "Kinneret Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-Z-Kinneret/IL-Z-Kinneret.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-Z-Safed.osm.pbf",
            "description": "Safed Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-Z-Safed/IL-Z-Safed.poly",
                "file_type": "poly"
            }
        }
    ]
}
