{
    "extracts": [
        {
            "output": "FI-18-HSL.osm.pbf",
            "description": "Helsinki sub-region (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FI-18-HSL/FI-18-HSL.poly",
                "file_type": "poly"
            }
        }
    ]
}
