{
    "extracts": [
        {
            "output": "US/continental-us.osm.pbf",
            "description": "Unites States of America (continental parts)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/continental-us.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US/time-zone-UTC-08.osm.pbf",
            "description": "Unites States of America (roughly PST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/time-zone-UTC-08.poly",
                "file_type": "poly"
            }
        }
    ]
}
