{
    "extracts": [
        {
            "output": "PA/level0-panama.osm.pbf",
            "description": "Panama",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PA/level0-panama.poly",
                "file_type": "poly"
            }
        }
    ]
}
