{
    "extracts": [
        {
            "output": "US/level0-us-time-zone-UTC-05.osm.pbf",
            "description": "Unites States of America (roughly EST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/level0-us-time-zone-UTC-05.poly",
                "file_type": "poly"
            }
        }
    ]
}
