{
    "extracts": [
        {
            "output": "CO/level0-columbia.osm.pbf",
            "description": "Columbia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CO/level0-columbia.poly",
                "file_type": "poly"
            }
        }
    ]
}
