{
    "extracts": [
        {
            "output": "CA-ON-BT.osm.pbf",
            "description": "City of Burlington, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-BT/CA-ON-BT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-GOT.osm.pbf",
            "description": "Greater Golden Horseshoe, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-GOT/CA-ON-GOT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-GRT.osm.pbf",
            "description": "Regional Municipality of Waterloo, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-GRT/CA-ON-GRT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-HSR.osm.pbf",
            "description": "City of Hamilton, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-HSR/CA-ON-HSR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-LTC.osm.pbf",
            "description": "City of London, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-LTC/CA-ON-LTC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-MiWay.osm.pbf",
            "description": "City of Mississauga, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-MiWay/CA-ON-MiWay.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-TTC.osm.pbf",
            "description": "Toronto, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-TTC/CA-ON-TTC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-YRT.osm.pbf",
            "description": "York Region Transit, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-YRT/CA-ON-YRT.poly",
                "file_type": "poly"
            }
        }
    ]
}
