{
    "extracts": [
        {
            "output": "CA-ON-BT.osm.pbf",
            "description": "City of Burlington, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-BT/CA-ON-BT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-ON-GOT.osm.pbf",
            "description": "Greater Golden Horseshoe, Ontario",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-ON-GOT/CA-ON-GOT.poly",
                "file_type": "poly"
            }
        }
    ]
}
