{
    "extracts": [
        {
            "output": "NKC/MR-NKC-Nouakchott.osm.pbf",
            "description": "Nouakchott - North, West and South",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NKC/MR-NKC-Nouakchott/MR-NKC-Nouakchott.poly",
                "file_type": "poly"
            }
        }
    ]
}
