{
    "extracts": [
        {
            "output": "MR/MR-NKC-Nouakchott.osm.pbf",
            "description": "Nouakchott - North, West and South r3395130, r16510636, r16510635 https://polygons.openstreetmap.fr params=0.000000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MR/MR-NKC-Nouakchott/MR-NKC-Nouakchott.poly",
                "file_type": "poly"
            }
        }
    ]
}
