{
    "extracts": [
        {
            "output": "CN-SH-Shanghai.osm.pbf",
            "description": "Shanghai",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CN-SH-Shanghai/CN-SH-Shanghai.poly",
                "file_type": "poly"
            }
        }
    ]
}
