{
    "extracts": [
        {
            "output": "US-NV-RTC.osm.pbf",
            "description": "Clark County, Nevada",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-NV-RTC/US-NV-RTC.poly",
                "file_type": "poly"
            }
        }
    ]
}
