{
    "extracts": [
        {
            "output": "AR/level0-argentina.osm.pbf",
            "description": "Argentina",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AR/level0-argentina.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BR/level0-brasil.osm.pbf",
            "description": "Brasil",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BR/level0-brasil.poly",
                "file_type": "poly"
            }
        }
    ]
}
