{
    "extracts": [
        {
            "output": "IN-TN-Chennai.osm.pbf",
            "description": "Chennai metropolitan area, Tamil Nadu",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-TN-Chennai/IN-TN-Chennai.poly",
                "file_type": "poly"
            }
        }
    ]
}
