{
    "extracts": [
        {
            "output": "US-OK-MTTA.osm.pbf",
            "description": "Tulsa City - Metropolitan Tulsa Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-OK-MTTA/US-OK-MTTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
