{
    "extracts": [
        {
            "output": "xx-departement-charente-maritime.osm.pbf",
            "description": "Département Charente-Maritime (https:/polygons.openstreetmap.fr 0.2, 0.0005, 0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-charente-maritime.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-departement-gironde.osm.pbf",
            "description": "Département Gironde (https:/polygons.openstreetmap.fr 0.2, 0.0005, 0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-gironde.poly",
                "file_type": "poly"
            }
        }
    ]
}
