{
    "extracts": [
        {
            "output": "xx-departement-gironde.osm.pbf",
            "description": "Département Gironde",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-departement-gironde.poly",
                "file_type": "poly"
            }
        }
    ]
}
