{
    "extracts": [
        {
            "output": "FR-NAQ-TBM.osm.pbf",
            "description": "Bordeaux, Bordeaux Métropole (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NAQ-TBM/FR-NAQ-TBM.poly",
                "file_type": "poly"
            }
        }
    ]
}
