{
    "extracts": [
        {
            "output": "FR-NAQ-Yelo.osm.pbf",
            "description": "Communauté d'agglomération de La Rochelle, Charente-Maritime (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-Yelo-TBM/FR-Yelo-TBM.poly",
                "file_type": "poly"
            }
        }
    ]
}
