{
    "extracts": [
        {
            "output": "CN/level4-CN-state-SH.osm.pbf",
            "description": "Shanghai",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CN/level4-CN-state-SH.poly",
                "file_type": "poly"
            }
        }
    ]
}
