{
    "extracts": [
        {
            "output": "IL-HA-Hadera.osm.pbf",
            "description": "Hadera Subdistrict - r11584745 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-HA-Hadera/IL-HA-Hadera.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-HA-Haifa.osm.pbf",
            "description": "Haifa Subdistrict - r11584519 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-HA-Haifa/IL-HA-Haifa.poly",
                "file_type": "poly"
            }
        }
    ]
}
