{
    "extracts": [
        {
            "output": "IL-HA-Hadera.osm.pbf",
            "description": "Hadera Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-HA-Hadera/IL-HA-Hadera.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL-HA-Haifa.osm.pbf",
            "description": "Haifa Subdistrict",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL-HA-Haifa/IL-HA-Haifa.poly",
                "file_type": "poly"
            }
        }
    ]
}
