{
    "extracts": [
        {
            "output": "PH-00-Metro-Manila.osm.pbf",
            "description": "Metro Manila",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PH-00-Metro-Manila/PH-00-Metro-Manila.poly",
                "file_type": "poly"
            }
        }
    ]
}
