{
    "extracts": [
        {
            "output": "AU/australia-time-zone-UTC+09.30.osm.pbf",
            "description": "Timezone UTC+09.30 of Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AU/australia-time-zone-UTC+09.30.poly",
                "file_type": "poly"
            }
        }
    ]
}
