{
    "extracts": [
        {
            "output": "departement-indre-et-loire.osm.pbf",
            "description": "Département Indre-et-Loire",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-indre-et-loire.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "departement-loiret.osm.pbf",
            "description": "Département Loiret",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-loiret.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-CVL-Remi.osm.pbf",
            "description": "Rémi (regional bus network), Département Indre-et-Loire",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-CVL-Remi/FR-CVL-Remi.poly",
                "file_type": "poly"
            }
        }
    ]
}
