{
    "extracts": [
        {
            "output": "departement-loiret.osm.pbf",
            "description": "Département Loiret",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-loiret.poly",
                "file_type": "poly"
            }
        }
    ]
}
