{
    "extracts": [
        {
            "output": "FR-CVL-TAO.osm.pbf",
            "description": "Orléans Métropole",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-CVL-TAO/FR-CVL-TAO.poly",
                "file_type": "poly"
            }
        }
    ]
}
