{
    "extracts": [
        {
            "output": "FR-CVL-FB.osm.pbf",
            "description": "Fil Bleu, Syndicat des Mobilités de Touraine, Indre-et-Loire",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-CVL-FB/FR-CVL-FB.poly",
                "file_type": "poly"
            }
        }
    ]
}
