{
    "extracts": [
        {
            "output": "zaragoza.osm.pbf",
            "description": "Zaragoza / Aragón",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zaragoza.poly",
                "file_type": "poly"
            }
        }
    ]
}
