{
    "extracts": [
        {
            "output": "ES-AR-Z-AUZ.osm.pbf",
            "description": "Zaragoza / Aragón - Autobuses Urbanos de Zaragoza - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-AR-Z-AUZ/ES-AR-Z-AUZ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-AR-Z-Cercanias.osm.pbf",
            "description": "Zaragoza / Aragón - Cercanías Zaragoza - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-AR-Z-Cercanias/ES-AR-Z-Cercanias.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-AR-Z-CTAZ.osm.pbf",
            "description": "Zaragoza / Aragón - Consorcio de Transportes del Área de Zaragoza - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-AR-Z-CTAZ/ES-AR-Z-CTAZ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ES-AR-Z-Tranvia.osm.pbf",
            "description": "Zaragoza / Aragón - Tranvía de Zaragoza - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-AR-Z-Tranvia/ES-AR-Z-Tranvia.poly",
                "file_type": "poly"
            }
        }
    ]
}
