{
    "extracts": [
        {
            "output": "level1-us-states-AZ-CO-ID-MT-NM-UT-WY.osm.pbf",
            "description": "Unites States of America (states of MNT)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-us-states-AZ-CO-ID-MT-NM-UT-WY.poly",
                "file_type": "poly"
            }
        }
    ]
}
