{
    "extracts": [
        {
            "output": "ET/ethiopia.osm.pbf",
            "description": "Ethiopia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ET/ethiopia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MG/madagascar.osm.pbf",
            "description": "Madagascar",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MG/madagascar.poly",
                "file_type": "poly"
            }
        }
    ]
}
