{
    "extracts": [
        {
            "output": "ET/ethiopia.osm.pbf",
            "description": "Ethiopia - https://polygons.openstreetmap.fr/get_poly.py?id=192800&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ET/ethiopia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MG/madagascar.osm.pbf",
            "description": "Madagascar - https://polygons.openstreetmap.fr/get_poly.py?id=447325&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MG/madagascar.poly",
                "file_type": "poly"
            }
        }
    ]
}
