{
    "extracts": [
        {
            "output": "RU/russia-europe-UTC+03.osm.pbf",
            "description": "Russia, European Part, UTC+03 timezone",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RU/russia-europe-UTC+03.poly",
                "file_type": "poly"
            }
        }
    ]
}
