{
    "extracts": [
        {
            "output": "DE-ST-marego.osm.pbf",
            "description": "Magdeburger Regionalverkehrsverbund, Region Magdeburg, State of Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-ST-marego/DE-ST-marego.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-ST-PVGS.osm.pbf",
            "description": "Personenverkehrsgesellschaft Altmarkkreis Salzwedel, Altmarkkreis Salzwedel, State of Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-ST-PVGS/DE-ST-PVGS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-ST-stendalbus.osm.pbf",
            "description": "stendalbus, Landkreis Stendal, State of Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-ST-stendalbus/DE-ST-stendalbus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-ST-VTO.osm.pbf",
            "description": "Verkehrs- und Tarifgemeinschaft Ostharz, Landkreis Harz, State of Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-ST-VTO/DE-ST-VTO.poly",
                "file_type": "poly"
            }
        }
    ]
}
