{
    "extracts": [
        {
            "output": "GH/ghana.osm.pbf",
            "description": "Ghana - https://polygons.openstreetmap.fr/get_poly.py?id=192781&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GH/ghana.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MR/mauritania.osm.pbf",
            "description": "Mauritania - https://polygons.openstreetmap.fr/get_poly.py?id=192763&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MR/mauritania.poly",
                "file_type": "poly"
            }
        }
    ]
}
