{
    "extracts": [
        {
            "output": "ES/CN/canary.osm.pbf",
            "description": "Spain, Canary Islands",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES/CN/canary.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "GH/ghana.osm.pbf",
            "description": "Ghana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GH/ghana.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MR/mauritania.osm.pbf",
            "description": "Mauritania",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MR/mauritania.poly",
                "file_type": "poly"
            }
        }
    ]
}
