{
    "extracts": [
        {
            "output": "GB/united-kingdom.osm.pbf",
            "description": "United Kingdom - https://polygons.openstreetmap.fr/get_poly.py?id=62149&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GB/united-kingdom.poly",
                "file_type": "poly"
            }
        }
    ]
}
