{
    "extracts": [
        {
            "output": "ES/CN/spain-canary.osm.pbf",
            "description": "Spain, Canary Islands",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES/CN/spain-canary.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "GB/united-kingdom.osm.pbf",
            "description": "United Kingdom",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GB/united-kingdom.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "JE/JE-All.osm.pbf",
            "description": "Jersey",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "JE/JE-All.poly",
                "file_type": "poly"
            }
        }
    ]
}
