{
    "extracts": [
        {
            "output": "GB/united-kingdom.osm.pbf",
            "description": "United Kingdom",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GB/united-kingdom.poly",
                "file_type": "poly"
            }
        }
    ]
}
