{
    "extracts": [
        {
            "output": "GH/AA/GH-AA-Accra.osm.pbf",
            "description": "Greater Accra Region - https://polygons.openstreetmap.fr/get_poly.py?id=1991849&params=0.040000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GH/AA/GH-AA-Accra/GH-AA-Accra.poly",
                "file_type": "poly"
            }
        }
    ]
}
