{
    "extracts": [
        {
            "output": "IN-WB-Kolkata.osm.pbf",
            "description": "Kolkata District, West Bengal",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-WB-Kolkata/IN-WB-Kolkata.poly",
                "file_type": "poly"
            }
        }
    ]
}
