{
    "extracts": [
        {
            "output": "region-BB-BE-MV-SN-ST-TH.osm.pbf",
            "description": "States Brandenburg, Berlin, Sachsen, Sachsen-Annhalt, Thuringia, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-BB-BE-MV-SN-ST-TH.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-BW-BY-HE-RP-SL.osm.pbf",
            "description": "States Baden-Württemberg, Bavaria, Hesse, Rhineland-Palatine and Saarland, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-BW-BY-HE-RP-SL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-HB-HH-NI-NW-SH.osm.pbf",
            "description": "States Bremen, Hamburg, Lower Saxony, North Rhine-Westphalia and Schleswig-Holstein, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-HB-HH-NI-NW-SH.poly",
                "file_type": "poly"
            }
        }
    ]
}
