{
    "extracts": [
        {
            "output": "region-BW-BY.osm.pbf",
            "description": "States Baden-Württemberg and Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-BW-BY.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-HB-HH-NI-NW-SL.osm.pbf",
            "description": "States Bremen, Hamburg, Lower Saxony, North Rhine-Westphalia and Schleswig-Holstein, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-HB-HH-NI-NW-SL.poly",
                "file_type": "poly"
            }
        }
    ]
}
