{
    "extracts": [
        {
            "output": "BY/DE-BY.osm.pbf",
            "description": "State of Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "bavaria-simplified.poly",
                "file_type": "poly"
            }
        }
    ]
}
