{
    "extracts": [
        {
            "output": "NI/lower-saxony.osm.pbf",
            "description": "State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NI/lower-saxony.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NW/nrw.osm.pbf",
            "description": "State of North Rhine-Westphalia, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NW/nrw.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HB/DE-HB-VBN.osm.pbf",
            "description": "Verkehrsverbund Bremen-Niedersachsen, State of Bremen and parts of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HB/DE-HB-VBN/DE-HB-VBN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HH/DE-HH-HVV.osm.pbf",
            "description": "Hamburger Verkehrsverbund, State of Hamburg, parts of Lower-Saxony and Schleswig-Holstein, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HH/DE-HH-HVV/DE-HH-HVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "SH/DE-SH-NAH.SH.osm.pbf",
            "description": "Nahverkehr Schleswig-Holstein, State of Schleswig-Holstein, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SH/DE-SH-NAH.SH/DE-SH-NAH.SH.poly",
                "file_type": "poly"
            }
        }
    ]
}
