{
    "extracts": [
        {
            "output": "BW/baden-wuerttemberg.osm.pbf",
            "description": "State of Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/baden-wuerttemberg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BY/bavaria.osm.pbf",
            "description": "State of Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BY/bavaria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BW/DE-BW-VRN.osm.pbf",
            "description": "Verkehrsverbund Rhein-Neckar, Parts of Rhineland-Palatine, Baden-Württemberg, Hesse, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/DE-BW-VRN/DE-BW-VRN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BW/DE-BW-DING.osm.pbf",
            "description": "Donau-Iller-Nahverkehrsverbund, parts of Baden-Württemberg, stretches into Bavaria (county Neu-Ulm)Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/DE-BW-DING/DE-BW-DING.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BW/DE-BW-DING-SWU.osm.pbf",
            "description": "Donau-Iller-Nahverkehrsverbund (operatir Stadtwerke Ulm), parts of Baden-Württemberg, stretches into Bavaria (county Neu-Ulm)Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/DE-BW-DING-SWU/DE-BW-DING-SWU.poly",
                "file_type": "poly"
            }
        }
    ]
}
