{
    "extracts": [
        {
            "output": "BW/baden-wuerttemberg.osm.pbf",
            "description": "State of Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/baden-wuerttemberg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BY/bavaria.osm.pbf",
            "description": "State of Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BY/bavaria.poly",
                "file_type": "poly"
            }
        }
    ]
}
