{
    "extracts": [
        {
            "output": "BE/berlin-brandenburg.osm.pbf",
            "description": "States of Berlin and Brandenburg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BE/berlin-brandenburg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "MV/mecklenburg-vorpommern.osm.pbf",
            "description": "State of Mecklenburg-Vorpommern, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MV/mecklenburg-vorpommern.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "SN/saxony.osm.pbf",
            "description": "State of Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SN/saxony.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ST/saxony-anhalt.osm.pbf",
            "description": "State of Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ST/saxony-anhalt.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TH/thuringia.osm.pbf",
            "description": "State of Thuringia, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TH/thuringia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "SN/DE-SN-MDV.osm.pbf",
            "description": "Mitteldeutscher Verkehrsverbund, Region Mitteldeutschland um Leipzig, States of Saxony and Saxony-Anhalt, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SN/DE-SN-MDV/DE-SN-MDV.poly",
                "file_type": "poly"
            }
        }
    ]
}
