{
    "extracts": [
        {
            "output": "BW/baden-wuerttemberg.osm.pbf",
            "description": "State of Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BW/baden-wuerttemberg-simplified.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BY/bavaria.osm.pbf",
            "description": "State of Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BY/bavaria-simplified.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BY/DE-BY-NVM.osm.pbf",
            "description": "Nahverkehr Mainfranken, Cities of Würzburg and Schweinfurt, Bad Kissingen, Haßberge, Kitzingen, Main-Spessart, Rhön-Grabfeld, Schweinfurt and Würzburg Counties, Lower Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BY/DE-BY-NVM/DE-BY-NVM.poly",
                "file_type": "poly"
            }
        }
    ]
}
