{
    "extracts": [
        {
            "output": "NW/nrw.osm.pbf",
            "description": "State of North Rhine-Westphalia, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NW/nrw.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NW/DE-NW-WT.osm.pbf",
            "description": "Westfalentarif, North Rhine-Westphalia and small parts of Lower Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NW/DE-NW-WT/DE-NW-WT.poly",
                "file_type": "poly"
            }
        }
    ]
}
