{
    "extracts": [
        {
            "output": "xx-region-central-bohemia-prague.osm.pbf",
            "description": "Central Bohemia and Prague - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-central-bohemia-prague.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-southeast.osm.pbf",
            "description": "Southeast - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-southeast.poly",
                "file_type": "poly"
            }
        }
    ]
}
