{
    "extracts": [
        {
            "output": "10/CZ-10-PID.osm.pbf",
            "description": "Pražská integrovaná doprava (PID) - Město Praha a Středočeský kraj - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "10/CZ-10-PID/CZ-10-PID.poly",
                "file_type": "poly"
            }
        }
    ]
}
