{
    "extracts": [
        {
            "output": "64/CZ-64-IDS_JMK.osm.pbf",
            "description": "Integrovaný dopravní systém Jihomoravského kraje (IDS JMK) - Jihomoravský kraj - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "64/CZ-64-IDS_JMK/CZ-64-IDS_JMK.poly",
                "file_type": "poly"
            }
        }
    ]
}
