{
    "extracts": [
        {
            "output": "US-RI-RIPTA.osm.pbf",
            "description": "Rhode Island - Rhode Island Public Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-RI-RIPTA/US-RI-RIPTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
