{
    "extracts": [
        {
            "output": "IR/level0-iran.osm.pbf",
            "description": "Iran",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IR/level0-iran.poly",
                "file_type": "poly"
            }
        }
    ]
}
