{
    "extracts": [
        {
            "output": "LI-Alle.osm.pbf",
            "description": "Liechtenstein - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.02000-0.00500-0.00500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LI-Alle/LI-Alle.poly",
                "file_type": "poly"
            }
        }
    ]
}
