{
    "extracts": [
        {
            "output": "DK-Alle.osm.pbf",
            "description": "Danmark - Offentlig transport i Danmark - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DK-Alle/DK-Alle.poly",
                "file_type": "poly"
            }
        }
    ]
}
