{
    "extracts": [
        {
            "output": "C/BO-C-Cochabamba.osm.pbf",
            "description": "Cochabamba / Cochabamba",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "C/BO-C-Cochabamba/BO-C-Cochabamba.poly",
                "file_type": "poly"
            }
        }
    ]
}
