{
    "extracts": [
        {
            "output": "01/xx-region-tangier-tetouan-al-hoceima.osm.pbf",
            "description": "Region Tangier-Tetouan-Al Hoceima - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "01/xx-region-tangier-tetouan-al-hoceima.poly",
                "file_type": "poly"
            }
        }
    ]
}
