{
    "extracts": [
        {
            "output": "11/pirkanmaa.osm.pbf",
            "description": "Pirkanmaa (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "11/pirkanmaa.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "18/uusimaa.osm.pbf",
            "description": "Uusimaa (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "18/uusimaa.poly",
                "file_type": "poly"
            }
        }
    ]
}
