{
    "extracts": [
        {
            "output": "xx-region-oslo-and-viken.osm.pbf",
            "description": "Oslo og Viken - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-oslo-and-viken.poly",
                "file_type": "poly"
            }
        }
    ]
}
