{
    "extracts": [
        {
            "output": "03/NO-03-Ruter.osm.pbf",
            "description": "Oslo og deler av Viken (tidligere Akershus fylke), Drammen, Lier, Rømskog, Trøgstad og Moss i Viken - Ruter - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "03/NO-03-Ruter/NO-03-Ruter.poly",
                "file_type": "poly"
            }
        }
    ]
}
