{
    "extracts": [
        {
            "output": "FR-IDF-Peps.osm.pbf",
            "description": "Seine-et-Marne (77) / Île-de-France",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-IDF-Peps/FR-IDF-Peps.poly",
                "file_type": "poly"
            }
        }
    ]
}
