{
    "extracts": [
        {
            "output": "DE-RP-RNN.osm.pbf",
            "description": "Rhein-Nahe Nahverkehrsverbund",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-RP-RNN/DE-RP-RNN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-RP-VRM.osm.pbf",
            "description": "Verkehrsverbund Rhein-Mosel",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-RP-VRM/DE-RP-VRM.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-RP-VRT.osm.pbf",
            "description": "Verkehrsverbund Region Trier",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-RP-VRT/DE-RP-VRT.poly",
                "file_type": "poly"
            }
        }
    ]
}
