{
    "extracts": [
        {
            "output": "BR-RJ-SMTR.osm.pbf",
            "description": "Cidade do Rio de Janeiro, Rio de Janeiro",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BR-RJ-SMTR/BR-RJ-SMTR.poly",
                "file_type": "poly"
            }
        }
    ]
}
