{
    "extracts": [
        {
            "output": "GB-NIR-Translink.osm.pbf",
            "description": "Northern Ireland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GB-NIR-Translink/GB-NIR-Translink.poly",
                "file_type": "poly"
            }
        }
    ]
}
