{
    "extracts": [
        {
            "output": "EE-Elron.osm.pbf",
            "description": "Estonia, all for Elron",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Elron/EE-Elron.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE-Koik.osm.pbf",
            "description": "Estonia, all",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Koik/EE-Koik.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE-Tallinna_Transport.osm.pbf",
            "description": "Harju County",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Tallinna_Transport/EE-Tallinna_Transport.poly",
                "file_type": "poly"
            }
        }
    ]
}
