{
    "extracts": [
        {
            "output": "EE-Elron.osm.pbf",
            "description": "Estonia for Elron - r79510 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Elron/EE-Elron.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE-Koik.osm.pbf",
            "description": "Estonia, all - r79510 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Koik/EE-Koik.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE-Tallinna_Transport.osm.pbf",
            "description": "Harju County - r350585 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE-Tallinna_Transport/EE-Tallinna_Transport.poly",
                "file_type": "poly"
            }
        }
    ]
}
