{
    "extracts": [
        {
            "output": "IL/israel.osm.pbf",
            "description": "Israel",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL/israel.poly",
                "file_type": "poly"
            }
        }
    ]
}
