{
    "extracts": [
        {
            "output": "BG/bulgaria.osm.pbf",
            "description": "Bulgaria - https://polygons.openstreetmap.fr/get_poly.py?id=186382&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BG/bulgaria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE/estonia.osm.pbf",
            "description": "Estonia - https://polygons.openstreetmap.fr/get_poly.py?id=79510&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE/estonia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IL/israel.osm.pbf",
            "description": "Israel - https://polygons.openstreetmap.fr/get_poly.py?id=1473946&params=0.200000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL/israel.poly",
                "file_type": "poly"
            }
        }
    ]
}
