{
    "extracts": [
        {
            "output": "BG/bulgaria.osm.pbf",
            "description": "Bulgaria  (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BG/bulgaria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "EE/estonia.osm.pbf",
            "description": "Estonia  (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "EE/estonia.poly",
                "file_type": "poly"
            }
        }
        {
            "output": "FI/finland.osm.pbf",
            "description": "Finland  (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FI/finland.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "RO/romania.osm.pbf",
            "description": "Romania  (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RO/romania.poly",
                "file_type": "poly"
            }
        }
    ]
}
