{
    "extracts": [
        {
            "output": "IL/israel.osm.pbf",
            "description": "GerIsrael - r1473946 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL/israel.poly",
                "file_type": "poly"
            }
        }
    ]
}
