{
    "extracts": [
        {
            "output": "US-TN-KAT.osm.pbf",
            "description": "City of Knoxville, Tennessee - KAT",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-TN-KAT/US-TN-KAT.poly",
                "file_type": "poly"
            }
        }
    ]
}
