{
    "extracts": [
        {
            "output": "RM/CL-RM-DTPM.osm.pbf",
            "description": "Región Metropolitana de Santiago",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RM/CL-RM-DTPM/CL-RM-DTPM.poly",
                "file_type": "poly"
            }
        }
    ]
}
