{
    "extracts": [
        {
            "output": "ES-CN-TILP.osm.pbf",
            "description": "Espania, Canary Islands, La palma",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES-CN-TILP/ES-CN-TILP.poly",
                "file_type": "poly"
            }
        }
    ]
}
