{
    "extracts": [
        {
            "output": "US-CA-LACMTA.osm.pbf",
            "description": "Los Angeles County, California",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-CA-LACMTA/US-CA-LACMTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-CA-SantaCruz.osm.pbf",
            "description": "Santa Cruz County, California",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-CA-SantaCruz/US-CA-SantaCruz.poly",
                "file_type": "poly"
            }
        }
    ]
}
