{
    "extracts": [
        {
            "output": "CA-AB-CT.osm.pbf",
            "description": "Calgary, Alberta",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-AB-CT/CA-AB-CT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CA-AB-ETS.osm.pbf",
            "description": "Edmonton Metropolitan Region, Alberta",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-AB-ETS/CA-AB-ETS.poly",
                "file_type": "poly"
            }
        }
    ]
}
