{
    "extracts": [
        {
            "output": "AA/xx-xx-region-addis-ababa.osm.pbf",
            "description": "Region Addis Ababa - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AA/xx-region-addis-ababa.poly",
                "file_type": "poly"
            }
        }
    ]
}
