{
    "extracts": [
        {
            "output": "level1-us-state-MA-east.osm.pbf",
            "description": "Massachusetts, eastern part",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-us-state-MA-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-us-state-MA-south-east.osm.pbf",
            "description": "Massachusetts, south-eastern part",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-us-state-MA-south-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "level1-us-state-MA-west.osm.pbf",
            "description": "Massachusetts, western part",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-us-state-MA-west.poly",
                "file_type": "poly"
            }
        }
    ]
}
