{
    "extracts": [
        {
            "output": "US-MA-BAT.osm.pbf",
            "description": "Bristol, Norfolk, Plymouth Counties - Brockton Area Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-BAT/US-MA-BAT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-CCRTA.osm.pbf",
            "description": "Barnstable County - Cape Cod Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-CCRTA/US-MA-CCRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-GATRA.osm.pbf",
            "description": "Bristol, Plymouth Counties - Greater Attleboro Taunton Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-GATRA/US-MA-GATRA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-NRTA.osm.pbf",
            "description": "Nantucket County/Town - Nantucket Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-NRTA/US-MA-NRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-SRTA.osm.pbf",
            "description": "Bristol, Plymouth Counties - Southeastern Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-SRTA/US-MA-SRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-VTA.osm.pbf",
            "description": "Dukes County - Vineyard Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-VTA/US-MA-VTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
