{
    "extracts": [
        {
            "output": "US-MA-BRTA.osm.pbf",
            "description": "Berkshire County",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-BRTA/US-MA-BRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-FRTA.osm.pbf",
            "description": "Franklin, Hampshire, Worcester Counties",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-FRTA/US-MA-FRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-PVTA.osm.pbf",
            "description": "Hampshire, Hampden Counties",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-PVTA/US-MA-PVTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-WRTA.osm.pbf",
            "description": "Worcester County",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-WRTA/US-MA-WRTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
