{
    "extracts": [
        {
            "output": "US-MA-CATA.osm.pbf",
            "description": "Essex County -  	Cape Ann Transportation Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-CATA/US-MA-CATA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-LRTA.osm.pbf",
            "description": "Middlesex County - Lowell Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-LRTA/US-MA-LRTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-MART.osm.pbf",
            "description": "Middlesex, Worcester Counties - Montachusett Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-MART/US-MA-MART.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-MBTA.osm.pbf",
            "description": "Bristol, Essex, Middlesex, Norfolk, Plymouth, Suffolk and Worcester Counties - Massachusetts Bay Transportation Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-MBTA/US-MA-MBTA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-MeVa.osm.pbf",
            "description": "Essex County - Merrimack Valley Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-MeVa/US-MA-MeVa.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MA-MWRTA.osm.pbf",
            "description": "Middlesex, Worcester Counties - MetroWest Regional Transit Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MA-MWRTA/US-MA-MWRTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
