{
    "extracts": [
        {
            "output": "DE-TH-VGLG.osm.pbf",
            "description": "Verkehrsgemeinschaft des Landkreises Greiz",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-TH-VGLG/DE-TH-VGLG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-TH-VMT.osm.pbf",
            "description": "Verkehrsverbund Mittelthüringen",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-TH-VMT/DE-TH-VMT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-TH-WerraBus.osm.pbf",
            "description": "WerraBus",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-TH-WerraBus/DE-TH-WerraBus.poly",
                "file_type": "poly"
            }
        }
    ]
}
