{
    "extracts": [
        {
            "output": "US-MD-Baltimore.osm.pbf",
            "description": "Baltimore and Anne Arundel, Baltimore, Howard Counties - All public transport associations",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MD-Baltimore/US-MD-Baltimore.poly",
                "file_type": "poly"
            }
        }
    ]
}
