{
    "extracts": [
        {
            "output": "AU-SA-Adelaide-Metro.osm.pbf",
            "description": "Adelaide Metropolitan Area, South Australia, Australia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AU-SA-Adelaide-Metro/AU-SA-Adelaide-Metro.poly",
                "file_type": "poly"
            }
        }
    ]
}
