{
    "extracts": [
        {
            "output": "BR-MG-BHTrans.osm.pbf",
            "description": "Belo Horizonte / Minas Gerais",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BR-MG-BHTrans/BR-MG-BHTrans.poly",
                "file_type": "poly"
            }
        }
    ]
}
