{
    "extracts": [
        {
            "output": "US-IL-Metra.osm.pbf",
            "description": "Chicago metropolitan area (Lake, Cook, DuPage and Will counties), Illinois",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-IL-Metra/US-IL-Metra.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-IL-Pace.osm.pbf",
            "description": "Chicago metropolitan area (McHenry, Lake, Kane, Cook, DuPage and Will counties), Illinois",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-IL-Pace/US-IL-Pace.poly",
                "file_type": "poly"
            }
        }
    ]
}
