{
    "extracts": [
        {
            "output": "GLG/GB-GLG-SPT.osm.pbf",
            "description": "City of Glasgow, Scotland, East Dunbartonshire, East Renfrewshire, North Lanarkshire, Renfrewshire, South Lanarkshire, West Dunbartonshire (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GLG/GB-GLG-SPT/GB-GLG-SPT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IOW/GB-IOW-SV.osm.pbf",
            "description": "Isle of Wight",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IOW/GB-IOW-SV/GB-IOW-SV.poly",
                "file_type": "poly"
            }
        }
    ]
}
