{
    "extracts": [
        {
            "output": "IOW/GB-IOW-SV.osm.pbf",
            "description": "Isle of Wight - https://polygons.openstreetmap.fr/get_poly.py?id=154350&params=0.040000-0.005000-0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IOW/GB-IOW-SV/GB-IOW-SV.poly",
                "file_type": "poly"
            }
        }
    ]
}
