{
    "extracts": [
        {
            "output": "zz-departement-calvados.osm.pbf",
            "description": "Département Calcados",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zz-departement-calvados.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "zz-departement-manche.osm.pbf",
            "description": "Département Manche",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zz-departement-manche.poly",
                "file_type": "poly"
            }
        }
    ]
}
