{
    "extracts": [
        {
            "output": "zz-departement-calvados.osm.pbf",
            "description": "Département Calcados (https:/polygons.openstreetmap.fr 0.2, 0.0005, 0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zz-departement-calvados.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "zz-departement-manche.osm.pbf",
            "description": "Département Manche (https:/polygons.openstreetmap.fr 0.2, 0.0005, 0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zz-departement-manche.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "zz-departement-orne.osm.pbf",
            "description": "Département Orne (https:/polygons.openstreetmap.fr 0.2, 0.0005, 0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "zz-departement-orne.poly",
                "file_type": "poly"
            }
        }
    ]
}
