{
    "extracts": [
        {
            "output": "FR-NOR-Cosibus.osm.pbf",
            "description": "Coutances Mer et Bocage, Canton de Coutances (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-Cosibus/FR-NOR-Cosibus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-NOR-Neva.osm.pbf",
            "description": "CC de Granville, Terre et Mer, Cantons de Bréhal et Granville (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-Neva/FR-NOR-Neva.poly",
                "file_type": "poly"
            }
        }
    ]
}
