{
    "extracts": [
        {
            "output": "FR-NOR-Altobus.osm.pbf",
            "description": "Communauté de commune d’Alençon (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-Altobus/FR-NOR-Altobus.poly",
                "file_type": "poly"
            }
        }
    ]
}
