{
    "extracts": [
        {
            "output": "FR-NOR-Hobus.osm.pbf",
            "description": "Communauté de communes du pays de Honfleur-Beuzeville (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-Hobus/FR-NOR-Hobus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-NOR-Twisto.osm.pbf",
            "description": "Caen Normandie Métropole (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-Twisto/FR-NOR-Twisto.poly",
                "file_type": "poly"
            }
        }
    ]
}
