{
    "extracts": [
        {
            "output": "FR-NOR-LiA.osm.pbf",
            "description": "CU Le Havre Seine Métropole (https:/polygons.openstreetmap.fr 0.02, 0.005, 0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-NOR-LiA/FR-NOR-LiA.poly",
                "file_type": "poly"
            }
        }
    ]
}
