{
    "extracts": [
        {
            "output": "DE-BE-VBB.osm.pbf",
            "description": "Verkehrsverbund Berlin-Brandenburg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BE-VBB/DE-BE-VBB.poly",
                "file_type": "poly"
            }
        }
    ]
}
