{
    "extracts": [
        {
            "output": "xx-region-adriatic-croatia.osm.pbf",
            "description": "Adriatic Croatia - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-adriatic-croatia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-northern-croatia-zagreb.osm.pbf",
            "description": "Northern Croatia and Coty of Zagreb - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-northern-croatia-zagreb.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-pannonian-croatia.osm.pbf",
            "description": "Pannonian Croatia - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-pannonian-croatia.poly",
                "file_type": "poly"
            }
        }
    ]
}
