{
    "extracts": [
        {
            "output": "21/HR-21-ZET.osm.pbf",
            "description": "Grad Zagreb i Zagrebačka županija - Zagrebački električni tramvaj (ZET) - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "21/HR-21-ZET/HR-21-ZET.poly",
                "file_type": "poly"
            }
        }
    ]
}
