{
    "extracts": [
        {
            "output": "ID/level0-indonesia.osm.pbf",
            "description": "Indonesia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ID/level0-indonesia.poly",
                "file_type": "poly"
            }
        }
    ]
}
