{
    "extracts": [
        {
            "output": "MA-01-Tetouan.osm.pbf",
            "description": "pachalik de Tétouan تطوان - Vitalis Transport - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MA-01-Tetouan/MA-01-Tetouan.poly",
                "file_type": "poly"
            }
        }
    ]
}
