{
    "extracts": [
        {
            "output": "US-MI-SMART.osm.pbf",
            "description": "Detroit area (Dearborn, Detroit, Hamtramck, Highland Park), Michigan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MI-SMART/US-MI-SMART.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US-MI-DDOT.osm.pbf",
            "description": "Southeast Michigan: Macomb, Oakland and Wayne Counties, Michigan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-MI-DDOT/US-MI-DDOT.poly",
                "file_type": "poly"
            }
        }
    ]
}
