{
    "extracts": [
        {
            "output": "xx-region-north-netherlands.osm.pbf",
            "description": "Northern Part of the Netherlands: DR, FL, FR, GR, NH, OV - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-north-netherlands.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-south-netherlands.osm.pbf",
            "description": "Southern Part of the Netherlands: GE, LI, NB, UT, ZE, ZH - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-south-netherlands.poly",
                "file_type": "poly"
            }
        }
    ]
}
