{
    "extracts": [
        {
            "output": "GE/gelderland.osm.pbf",
            "description": "Province Gelderland - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GE/gelderland.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "UT/utrecht.osm.pbf",
            "description": "Province Utrecht - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "UT/utrecht.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "UT/utrecht-shared.osm.pbf",
            "description": "Province Utrecht - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "UT/utrecht-shared.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ZH/south-holland.osm.pbf",
            "description": "Province South Holland - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ZH/south-holland.poly",
                "file_type": "poly"
            }
        }
    ]
}
