{
    "extracts": [
        {
            "output": "NH/north-holland.osm.pbf",
            "description": "Province North Holland - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NH/north-holland.poly",
                "file_type": "poly"
            }
        }
    ]
}
