{
    "extracts": [
        {
            "output": "IT-PI-Servizio-Urbano-Pisa.osm.pbf",
            "description": "Provincia di Pisa - Servizio Urbano Pisa - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IT-PI-Servizio-Urbano-Pisa/IT-PI-Servizio-Urbano-Pisa.poly",
                "file_type": "poly"
            }
        }
    ]
}
