{
    "extracts": [
        {
            "output": "regierungsbezirk-freiburg.osm.pbf",
            "description": "Regierungsbezirk Freiburg, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regierungsbezirk-freiburg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "regierungsbezirk-karlsruhe.osm.pbf",
            "description": "Regierungsbezirk Karlsruhe, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regierungsbezirk-karlsruhe.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "regierungsbezirk-stuttgart.osm.pbf",
            "description": "Regierungsbezirk Stuttgart, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regierungsbezirk-stuttgart.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "regierungsbezirk-tuebingen.osm.pbf",
            "description": "Regierungsbezirk Tübingen, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regierungsbezirk-tuebingen.poly",
                "file_type": "poly"
            }
        }
    ]
}
