{
    "extracts": [
        {
            "output": "DE-BW-RVF.osm.pbf",
            "description": "Regio-Verkehrsverbund Freiburg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-RVF/DE-BW-RVF.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-RVL.osm.pbf",
            "description": "Regio Verkehrsverbund Lörrach, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-RVL/DE-BW-RVL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-TGO.osm.pbf",
            "description": "Tarifverbund Ortenau, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-TGO/DE-BW-TGO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-VHB.osm.pbf",
            "description": "Verkehrsverbund Hegau-Bodensee, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-VHB/DE-BW-VHB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-WTV.osm.pbf",
            "description": "Waldshuter Tarifverbund, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-WTV/DE-BW-WTV.poly",
                "file_type": "poly"
            }
        }
    ]
}
