{
    "extracts": [
        {
            "output": DE-BW-KVV.osm.pbf",
            "description": "Karlsruher Verkehrsverbund, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-KVV/DE-BW-KVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
