{
    "extracts": [
        {
            "output": "DE-BW-HNV.osm.pbf",
            "description": "Heilbronner • Hohenloher • Haller Nahverkehr, Regierungsbezirk Stuttgart, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-HNV/DE-BW-HNV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-KV.SHA.osm.pbf",
            "description": "Kreisverkehr Schwäbisch Hall, Regierungsbezirk Stuttgart, Baden-Württemberg Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-KV.SHA/DE-BW-KV.SHA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-VVS.osm.pbf",
            "description": "Verkehrs- und Tarifverbund Stuttgart, Regierungsbezirk Stuttgart, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-VVS/DE-BW-VVS.poly",
                "file_type": "poly"
            }
        }
    ]
}
