{
    "extracts": [
        {
            "output": "DE-BW-bodo.osm.pbf",
            "description": "Bodensee-Oberschwaben Verkehrsverbund, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-bodo/DE-BW-bodo.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-naldo.osm.pbf",
            "description": " 	Verkehrsverbund Neckar-Alb-Donau, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-naldo/DE-BW-naldo.poly",
                "file_type": "poly"
            }
        }
    ]
}
