{
    "extracts": [
        {
            "output": "DE-BW-KVV.osm.pbf",
            "description": "Karlsruher Verkehrsverbund, Regierungsbezirk Karlsruhe, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-KVV/DE-BW-KVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-VGC.osm.pbf",
            "description": "Verkehrsgesellschaft Bäderkreis Calw, Regierungsbezirk Karlsruhe, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-VGC/DE-BW-VGC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BW-VPE.osm.pbf",
            "description": "Verkehrsverbund Pforzheim-Enzkreis, Regierungsbezirk Karlsruhe, Baden-Württemberg, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BW-VPE/DE-BW-VPE.poly",
                "file_type": "poly"
            }
        }
    ]
}
