{
    "extracts": [
        {
            "output": "US-NY-MTA.osm.pbf",
            "description": "New York City, New York - Metropolitan Transportation Authority",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-NY-MTA/US-NY-MTA.poly",
                "file_type": "poly"
            }
        }
    ]
}
