{
    "extracts": [
        {
            "output": "Ljubljana/SI-Ljubljana-LPP.osm.pbf",
            "description": "Ljubljana - Ljubljanski Potniški Promet - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "Ljubljana/SI-Ljubljana-LPP/SI-Ljubljana-LPP.poly",
                "file_type": "poly"
            }
        }
    ]
}
