{
    "extracts": [
        {
            "output": "SPB/RU-SPB-TransportSpb.osm.pbf",
            "description": "Leningrad Oblast (https://polygons.openstreetmap.fr/ 0.020000-0.005000-0.005000)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SPB/RU-SPB-TransportSpb/RU-SPB-TransportSpb.poly",
                "file_type": "poly"
            }
        }
    ]
}
