{
    "extracts": [
        {
            "output": "2/PA-2-Cocle.osm.pbf",
            "description": "Cocle",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "2/PA-2-Cocle/PA-2-Cocle.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "4/PA-4-Chiriqui.osm.pbf",
            "description": "Chiriqui",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "4/PA-4-Chiriqui/PA-4-Chiriqui.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "8/PA-8-Panama.osm.pbf",
            "description": "Panama",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "8/PA-8-Panama/PA-8-Panama.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "9/PA-9-Veraguas.osm.pbf",
            "description": "Veraguas",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "9/PA-9-Veraguas/PA-9-Veraguas.poly",
                "file_type": "poly"
            }
        }
    ]
}
