{
    "extracts": [
        {
            "output": "IL/south-district.osm.pbf",
            "description": "South District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "D/south-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HA/haifa-district.osm.pbf",
            "description": "Haifa District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HA/haifa-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "JM/jerusalem-district.osm.pbf",
            "description": "Jerusalem District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "JM/jerusalem-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "M/center-district.osm.pbf",
            "description": "Center District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "M/center-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TA/tel-aviv-district.osm.pbf",
            "description": "Tel Aviv District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TA/tel-aviv-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "Z/north-district.osm.pbf",
            "description": "North District",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "Z/north-district.poly",
                "file_type": "poly"
            }
        }
    ]
}
