{
    "extracts": [
        {
            "output": "IL/south-district.osm.pbf",
            "description": "South District - r1473952 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "D/south-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HA/haifa-district.osm.pbf",
            "description": "Haifa District - r1400966 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HA/haifa-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "JM/jerusalem-district.osm.pbf",
            "description": "Jerusalem District - r1384720 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "JM/jerusalem-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "M/center-district.osm.pbf",
            "description": "Center District - r1400928 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "M/center-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "TA/tel-aviv-district.osm.pbf",
            "description": "Tel Aviv District - r1400916 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "TA/tel-aviv-district.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "Z/north-district.osm.pbf",
            "description": "North District - r1375620 polygons.openstreetmap.fr params: 0.200000 0.005000 0.005000",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "Z/north-district.poly",
                "file_type": "poly"
            }
        }
    ]
}
