{
    "extracts": [
        {
            "output": "IN-UP-Kanpur.osm.pbf",
            "description": "Kanpur Nagar District, Uttar Pradesh",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-UP-Kanpur/IN-UP-Kanpur.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IN-UP-Lucknow.osm.pbf",
            "description": "Lucknow District, Uttar Pradesh",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-UP-Lucknow/IN-UP-Lucknow.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IN-UP-Noida.osm.pbf",
            "description": "Gautam Buddha Nagar District, Uttar Pradesh",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-UP-Noida/IN-UP-Noida.poly",
                "file_type": "poly"
            }
        }
    ]
}
