{
    "extracts": [
        {
            "output": "IN-KA-Bengaluru.osm.pbf",
            "description": "Bangalore Metropolitan Region, Karnataka",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-KA-Bengaluru/IN-KA-Bengaluru.poly",
                "file_type": "poly"
            }
        }
    ]
}
