{
    "extracts": [
        {
            "output": "FR-PDL-Aleop_44.osm.pbf",
            "description": "Département Loire-Atlantique, Arrondissements de Cholet (Maine-et-Loire), La Roche-sur-Yon (Vendée), Radon (Ille-et-Vilaine) (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PDL-Aleop_44/FR-PDL-Aleop_44.poly",
                "file_type": "poly"
            }
        }
    ]
}
