{
    "extracts": [
        {
            "output": "FR-PDL-Irigo.osm.pbf",
            "description": "Communauté urbaine Angers Loire Métropole, Réseau Irigo",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-PDL-Irigo/FR-PDL-Irigo.poly",
                "file_type": "poly"
            }
        }
    ]
}
