{
    "extracts": [
        {
            "output": "gelderland-shared.osm.pbf",
            "description": "Province Gelderland - used for some reports - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "gelderland-shared.poly",
                "file_type": "poly"
            }
        }
    ]
}
