{
    "extracts": [
        {
            "output": "IN-MH-Mumbai.osm.pbf",
            "description": "Mumbai Metropolitan Region, Maharastra",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-MH-Mumbai/IN-MH-Mumbai.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IN-MH-Nagpur.osm.pbf",
            "description": "Nagpur District, Maharastra",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-MH-Nagpur/IN-MH-Nagpur.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IN-MH-Pune.osm.pbf",
            "description": "Pune Metropolitan Region, Maharastra",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-MH-Pune/IN-MH-Pune.poly",
                "file_type": "poly"
            }
        }
    ]
}
