{
    "extracts": [
        {
            "output": "FR-974-Alterneo.osm.pbf",
            "description": "Arrondissement de Saint-Pierre, La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-Alterneo/FR-974-Alterneo.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-974-Car_Jaune.osm.pbf",
            "description": "La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-Car_Jaune/FR-974-Car_Jaune.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-974-CarSud.osm.pbf",
            "description": "Arrondissement de Saint-Pierre, La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-CarSud/FR-974-CarSud.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-974-Citalis.osm.pbf",
            "description": "Arrondissement de Saint-Denis, La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-Citalis/FR-974-Citalis.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-974-Estival.osm.pbf",
            "description": "Arrondissement de Saint-Benoît, La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-Estival/FR-974-Estival.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-974-KarOuest.osm.pbf",
            "description": "Arrondissement de Saint-Paul, La Réunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-974-KarOuest/FR-974-KarOuest.poly",
                "file_type": "poly"
            }
        }
    ]
}
