{
    "extracts": [
        {
            "output": "burgenland-nieder-oesterreich-wien.osm.pbf",
            "description": "Bundesländer Burgenland, Nieder-Österreich und Wien (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "burgenland-nieder-oesterreich-wien.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "kaernten.osm.pbf",
            "description": "Bundeland Kärnten (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "kaernten.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ober-oesterreich.osm.pbf",
            "description": "Bundeland Ober-Österreich (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ober-oesterreich.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "salzburg.osm.pbf",
            "description": "Bundeland Salzburg (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "salzburg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "steiermark.osm.pbf",
            "description": "Bundeland Steiermark (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "steiermark.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "tirol.osm.pbf",
            "description": "Bundeland Tirol (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "tirol.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "vorarlberg.osm.pbf",
            "description": "Bundeland Vorarlberg (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "vorarlberg.poly",
                "file_type": "poly"
            }
        }
    ]
}
