{
    "extracts": [
        {
            "output": "AT-VOR.osm.pbf",
            "description": "Bundesländer Burgenland, Nieder-Österreich und Wien (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT-VOR/AT-VOR.poly",
                "file_type": "poly"
            }
        }
    ]
}
