{
    "extracts": [
        {
            "output": "AT-OOeVV.osm.pbf",
            "description": "Bundesland Ober-Österreich (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT-OOeVV/AT-OOeVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
