{
    "extracts": [
        {
            "output": "AT-SVV.osm.pbf",
            "description": "Bundesland Salzburg (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT-SVV/AT-SVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
