{
    "extracts": [
        {
            "output": "AT-VVSt.osm.pbf",
            "description": "Bundesland Steiermark (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT-VVSt/AT-VVSt.poly",
                "file_type": "poly"
            }
        }
    ]
}
