{
    "extracts": [
        {
            "output": "AT-VVV.osm.pbf",
            "description": "Bundesland Vorarlberg (https://polygons.openstreetmap.fr/ : 0.02,0.005,0.005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT-VVV/AT-VVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
