{
    "extracts": [
        {
            "output": "FR/974/level3-FR-state-974.osm.pbf",
            "description": "Isle of La Reunion",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR/974/level3-FR-state-974.poly",
                "file_type": "poly"
            }
        }
    ]
}
