{
    "extracts": [
        {
            "output": "CN/level0-china.osm.pbf",
            "description": "China",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CN/level0-china.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PH/level0-philippines.osm.pbf",
            "description": "Phillipines",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PH/level0-philippines.poly",
                "file_type": "poly"
            }
        }
    ]
}
