{
    "extracts": [
        {
            "output": "MB/level0-ca-state-MB.osm.pbf",
            "description": "Manitoba",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MB/level0-ca-state-MB.poly",
                "file_type": "poly"
            }
        }
    ]
}
