{
    "extracts": [
        {
            "output": "xx-region-AG-AI-AR-BL-BS-GL-SG-SH-SO-SZ-TG-ZH.osm.pbf",
            "description": "Kantone (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-AG-AI-AR-BL-BS-GL-SG-SH-SO-SZ-TG-ZH.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-GE-FR-JU-NE-VD-VS.osm.pbf",
            "description": "Kantone (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-GE-FR-JU-NE-VD-VS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-LU-NW-OW-ZG.osm.pbf",
            "description": "Kantone (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-LU-NW-OW-ZG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-GR-TI-UR.osm.pbf",
            "description": "Kantone (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-GR-TI-UR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-BE-SO.osm.pbf",
            "description": "Kantone (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-BE-SO.poly",
                "file_type": "poly"
            }
        }
    ]
}
