{
    "extracts": [
        {
            "output": "CH-TVLU.osm.pbf",
            "description": "Kantone Luzern (LU), Obwalden (OW), Nidwalden (NW) - Tarifverbund Passepartout - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TVLU/CH-TVLU.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-TVZG.osm.pbf",
            "description": "Kanton Zug (ZG) - Tarifverbund Zug «Zugerpass» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TVZG/CH-TVZG.poly",
                "file_type": "poly"
            }
        }
    ]
}
