{
    "extracts": [
        {
            "output": "CH-ZVV.osm.pbf",
            "description": "Kanton Zürich (ZH), Bezirk Höfe (SZ), Stadt Rapperswil-Jona (SG), Gemeinden Arni (AG), Islisberg (AG), Jonen (AG), Oberlunkhofen (AG) - Zürcher Verkehrsverbund - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-ZVV/CH-ZVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
