{
    "extracts": [
        {
            "output": "CH-CTIFR.osm.pbf",
            "description": "Canton de Fribourg (FR), District de la Broye-Vully (VD) - Communauté Tarifaire Intégrale Fribourgeoise «frimobil» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTIFR/CH-CTIFR.poly",
                "file_type": "poly"
            }
        }
    ]
}
