{
    "extracts": [
        {
            "output": "CH-KtUR.osm.pbf",
            "description": "Kanton Uri - diverse - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-KtUR/CH-KtUR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-CTM.osm.pbf",
            "description": "Cantone Ticino (TI) e Distretto di Moësa (GR) - Comunità tariffale Ticino e Moesano «Arcobaleno» (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTM/CH-CTM.poly",
                "file_type": "poly"
            }
        }
    ]
}
