{
    "extracts": [
        {
            "output": "CH-OTV.osm.pbf",
            "description": "Kantone Appenzell Ausserrhoden (AR), Appenzell Innerrhoden (AI), Glarus (GL), St. Gallen (SG), Thurgau (TG), Schaffhausen (SH), Bezirk March (SZ), Fürstentum Liechtenstein - Tarifverbund Ostwind - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-OTV/CH-OTV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-TNW.osm.pbf",
            "description": "Kantone Basel-Stadt (BS), Basel-Landschaft (BL), Bezirke Rheinfelden (AG), Laufenburg (AG), Dorneck (SO), Thierstein (SO) - Tarifverbund Nordwestschweiz - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TNW/CH-TNW.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-TVAG.osm.pbf",
            "description": "Kanton Aargau (AG) mit Ausnahme der Bezirke Laufenburg und Rheinfelden, Kanton Solothurn (SO) die östlichen Bezirke Gäu, Gösgen, Olten und Thal - Tarifverbund A-Welle «A-Welle» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TVAG/CH-TVAG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-TVAG.osm.pbf",
            "description": "Kanton Aargau (AG) mit Ausnahme der Bezirke Laufenburg und Rheinfelden, Kanton Solothurn (SO) die östlichen Bezirke Gäu, Gösgen, Olten und Thal - Tarifverbund A-Welle «A-Welle» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TVAG/CH-TVAG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-TVSZ.osm.pbf",
            "description": "Kanton Schwyz (SZ) mit Ausnahme der Bezirke Höfe und March - Tarifverbund Schwyz «Schwyzerpass» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-TVSZ/CH-TVSZ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-ZVV.osm.pbf",
            "description": "Kanton Zürich (ZH), Bezirk Höfe (SZ), Stadt Rapperswil-Jona (SG), Gemeinden Arni (AG), Islisberg (AG), Jonen (AG), Oberlunkhofen (AG) - Zürcher Verkehrsverbund - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-ZVV/CH-ZVV.poly",
                "file_type": "poly"
            }
        }
    ]
}
