{
    "extracts": [
        {
            "output": "CH-CTGE.osm.pbf",
            "description": "Canton de Genève (GE), Communauté de communes du Genevois (Haute-Savoie, FR) - Communauté Tarifaire Genevoise «unireso» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTGE/CH-CTGE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-CTIFR.osm.pbf",
            "description": "Canton de Fribourg (FR), District de la Broye-Vully (VD) - Communauté Tarifaire Intégrale Fribourgeoise «frimobil» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTIFR/CH-CTIFR.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-CTNE.osm.pbf",
            "description": "Canton de Neuchâtel (NE) - Communauté Tarifaire Neuchâteloise «Onde Verte» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTNE/CH-CTNE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-CTV.osm.pbf",
            "description": "Canton de Vaud (VD) - Communauté Tarifaire Vaudoise «mobilis» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CTV/CH-CTV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-CtVS.osm.pbf",
            "description": "Canton de Valais/Kanton Wallis (VS) - divers/diverse - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-CtVS/CH-CtVS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH-Vagabond.osm.pbf",
            "description": "Canton de Jura (JU) - Communauté tarifaire jurassienne «Vagabond» - (https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH-Vagabond/CH-Vagabond.poly",
                "file_type": "poly"
            }
        }
    ]
}
