{
    "extracts": [
        {
            "output": "CA-NB-CT.osm.pbf",
            "description": "Cities of Moncton, Dieppe, and Riverview, New Brunswick",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-NB-CT/CA-NB-CT.poly",
                "file_type": "poly"
            }
        }
    ]
}
