{
    "extracts": [
        {
            "output": "FR-BRE-BREIZHGO_CAR_22.osm.pbf",
            "description": "Arrondissements de Dinan, Guingamp, Lannion, Saint-Brieuc (Côtes d'Armor), Rennes, Saint-Malo (Ille-et-Vilaine) - BreizhGo en Côtes d'Armor",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-BREIZHGO_CAR_22/FR-BRE-BREIZHGO_CAR_22.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-BREIZHGO_CAR_35.osm.pbf",
            "description": "Arrondissements de Fougères-Vitré, Redon, Rennes, Saint-Malo (Ille-et-Vilaine), Dinan, Guingamp, Saint-Brieuc (Côtes-d'Armor), Avranches (Normandie), Châteaulin (Finistère), Pontivy, Vannes (Morbihan) - BreizhGo en Ille-et-Vilaine",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-BREIZHGO_CAR_35/FR-BRE-BREIZHGO_CAR_35.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-BREIZHGO_CAR_56.osm.pbf",
            "description": "Arrondissements de Lorient, Pontivy, Vannes (Morbihan), Guingamp, Saint-Brieuc (Côtes-d'Armor), Châteaulin (Finistère), Redon, Rennes (Ille-et-Vilaine) - BreizhGo en Morbihan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-BREIZHGO_CAR_56/FR-BRE-BREIZHGO_CAR_56.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-BREIZHGO_CAR_NS.osm.pbf",
            "description": "Arrondissements de Pontivy, Vannes (Morbihan), Saint-Brieuc (Côtes-d'Armor) - BreizhGo Ligne Nord-Sud",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-BREIZHGO_CAR_NS/FR-BRE-BREIZHGO_CAR_NS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-BREIZHGO_CAR_RLP.osm.pbf",
            "description": "Arrondissement de Pontivy, Vannes (Morbihan), Rennes (Ille-et-Vilaine) - BreizhGo Lignes Ouest-Nord",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-BREIZHGO_CAR_RLP/FR-BRE-BREIZHGO_CAR_RLP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-IZILO.osm.pbf",
            "description": "Départements Finistère et Morbihan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-IZILO/FR-BRE-IZILO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Lineotim.osm.pbf",
            "description": "Arrondissements de Lannion (Côtes-d'Armor) et Morlaix (Finistère)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Lineotim/FR-BRE-Lineotim.poly",
                "file_type": "poly"
            }
        }
    ]
}
