{
    "extracts": [
        {
            "output": "departement-cotes-d-armor.osm.pbf",
            "description": "Département Côtes d'Armor",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-cotes-d-armor.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "departement-finistere.osm.pbf",
            "description": "Département Finistère",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-finistere.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "departement-ille-et-vilaine.osm.pbf",
            "description": "Département Ille-et-Vilaine",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-ille-et-vilaine.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "departement-morbihan.osm.pbf",
            "description": "Département Morbihan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "departement-morbihan.poly",
                "file_type": "poly"
            }
        }
    ]
}
