{
    "extracts": [
        {
            "output": "department-cotes-d-armor.osm.pbf",
            "description": "Department Côtes d'Armor",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "department-cotes-d-armor.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "department-finistere.osm.pbf",
            "description": "Department Finistère",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "department-finistere.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "department-ille-et-vilaine.osm.pbf",
            "description": "Department Ille-et-Vilaine",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "department-ille-et-vilaine.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "department-morbihan.osm.pbf",
            "description": "Department Morbihan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "department-morbihan.poly",
                "file_type": "poly"
            }
        }
    ]
}
