{
    "extracts": [
        {
            "output": "FR-BRE-Star.osm.pbf",
            "description": "Rennes Métropole",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Star/FR-BRE-Star.poly",
                "file_type": "poly"
            }
        }
    ]
}
