{
    "extracts": [
        {
            "output": "FR-BRE-MAT.osm.pbf",
            "description": "Arrondissement de Saint-Malo",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-MAT/FR-BRE-MAT.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Star.osm.pbf",
            "description": "Rennes Métropole",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Star/FR-BRE-Star.poly",
                "file_type": "poly"
            }
        }
        },
        {
            "output": "FR-BRE-SURF.osm.pbf",
            "description": "Arrondissement de Fougères-Vitré",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-SURF/FR-BRE-SURF.poly",
                "file_type": "poly"
            }
        }
    ]
}
