{
    "extracts": [
        {
            "output": "FR-BRE-AXEOBUS.osm.pbf",
            "description": "Arrondissement de Guingamp",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-AXEOBUS/FR-BRE-AXEOBUS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Dinamo.osm.pbf",
            "description": "Arrondissement de Dinan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Dinamo/FR-BRE-Dinamo.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Distribus.osm.pbf",
            "description": "Arrondissement de Saint-Brieuc",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Distribus/FR-BRE-Distribus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-TILT.osm.pbf",
            "description": "Lannion-Trégor Communauté",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-TILT/FR-BRE-TILT.poly",
                "file_type": "poly"
            }
        }
    ]
}
