{
    "extracts": [
        {
            "output": "FR-BRE-ARBUS.osm.pbf",
            "description": "Communauté de Communes du Pays de Landerneau-Daoulas",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-ARBUS/FR-BRE-ARBUS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Bibus.osm.pbf",
            "description": "Brest Métropole",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Bibus/FR-BRE-Bibus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-Coralie.osm.pbf",
            "description": "Arrondissement de Quimper",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Coralie/FR-BRE-Coralie.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-PENNARBED.osm.pbf",
            "description": "Département Finistère",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-PENNARBED/FR-BRE-PENNARBED.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-QUB.osm.pbf",
            "description": "Arrondissement de Châteaulin et Arrondissement de Quimper",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-QUB/FR-BRE-QUB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-TUDBUS.osm.pbf",
            "description": "Douarnenez (admin_level=8)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-TUDBUS/FR-BRE-TUDBUS.poly",
                "file_type": "poly"
            }
        }
    ]
}
