{
    "extracts": [
        {
            "output": "FR-BRE-Glazgo.osm.pbf",
            "description": "Auray Quiberon Terre Atlantique (Morbihan)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-Glazgo/FR-BRE-Glazgo.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-KICEO.osm.pbf",
            "description": "Arrondissements de Lorient, Pontivy et Vannes (Morbihan)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-KICEO/FR-BRE-KICEO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR-BRE-PONDIBUS.osm.pbf",
            "description": "Arrondissement de Pontivy (Morbihan)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR-BRE-PONDIBUS/FR-BRE-PONDIBUS.poly",
                "file_type": "poly"
            }
        }
    ]
}
