{
    "extracts": [
        {
            "output": "region-lower-saxony-east.osm.pbf",
            "description": "Eastern part of the State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-lower-saxony-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-lower-saxony-west.osm.pbf",
            "description": "State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "Western part of the region-lower-saxony-west.poly",
                "file_type": "poly"
            }
        }
    ]
}
