{
    "extracts": [
        {
            "output": "DE-NI-CeBus.osm.pbf",
            "description": "CeBus, Landkreis Celle, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-CeBus/DE-NI-CeBus.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-GVH.osm.pbf",
            "description": "Großraum-Verkehr Hannover, Region Hannover, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-GVH/DE-NI-GVH.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-NHP.osm.pbf",
            "description": "Nahverkehr Hameln-Pyrmont, Landkreis Hameln-Pyrmont, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-NHP/DE-NI-NHP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VH.osm.pbf",
            "description": "Verkehrsgemeinschaft Heidekreis, Landkreis Heidekreis, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VH/DE-NI-VH.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VNN.osm.pbf",
            "description": "Verkehrsgemeinschaft Nordost-Niedersachse, Landkreise Cuxhaven, Harburg, Heidekreis, Lüchow-Dannenberg, Lüneburg, Rotenburg (Wümme), Stade, Uelzen, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VNN/DE-NI-VNN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VRB.osm.pbf",
            "description": "Verkehrsverbund Region Braunschweig, Städte: Braunschweig, Salzgitter, Wolfsburg; Landkreise: Gifhorn, Goslar, Helmstedt, Peine, Wolfenbüttel, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VRB/DE-NI-VRB.poly",
                "file_type": "poly"
            }
        }
    ]
}
