{
    "extracts": [
        {
            "output": "DE-NI-BVE.osm.pbf",
            "description": "Busverkehr Emsland-Mitte/Nord, Region Emsland Mitte/Nord, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-BVE/DE-NI-BVE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VEJ.osm.pbf",
            "description": "Verkehrsverbund Ems-Jade, Region Ems-Jade, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VEJ/DE-NI-VEJ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VGC.osm.pbf",
            "description": "Verkehrsgemeinschaft Landkreis Cloppenburg, Landkreis Cloppenburg, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VGC/DE-NI-VGC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VGE.osm.pbf",
            "description": "Verkehrsgemeinschaft Emsland-Süd, Region Emsland Süd, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VGE/DE-NI-VGE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-NI-VOS.osm.pbf",
            "description": "Verkehrsgemeinschaft Osnabrück, Stadt und Landkreis Osnabrück, State of Lower-Saxony, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NI-VOS/DE-NI-VOS.poly",
                "file_type": "poly"
            }
        }
    ]
}
