{
    "extracts": [
        {
            "output": "ON/level0-ca-state-Ontario.osm.pbf",
            "description": "Ontario, Canada",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ON/level0-ca-state-Ontario.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "QC/level0-ca-state-Quebec.osm.pbf",
            "description": "Quebec, Canada",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "QC/level0-ca-state-Quebec.poly",
                "file_type": "poly"
            }
        }
    ]
}
