{
    "extracts": [
        {
            "output": "IN-HR-Gurgaon.osm.pbf",
            "description": "Gurugram District, Haryana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-HR-Gurgaon/IN-HR-Gurgaon.poly",
                "file_type": "poly"
            }
        }
    ]
}
