{
    "extracts": [
        {
            "output": "regions-20R-ARA-NAQ-OCC-PAC-PDL.osm.pbf",
            "description": "Regions in the lower part of France (landmass) (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regions-20R-ARA-NAQ-OCC-PAC-PDL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "regions-BFC-BRE-CVL-GES-HDF-IDF-NOR.osm.pbf",
            "description": "Regions in the upper part of France (landmass) (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "regions-BFC-BRE-CVL-GES-HDF-IDF-NOR.poly",
                "file_type": "poly"
            }
        }
    ]
}
