{
    "extracts": [
        {
            "output": "BFC/bourgogne-franche-comte.osm.pbf",
            "description": "Bourgogne - Franche-Comté",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BFC/bourgogne-franche-comte.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BRE/bretagne.osm.pbf",
            "description": "Bretagne",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BRE/bretagne.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CVL/centre-val-de-loire.osm.pbf",
            "description": "Centre-Val de Loire",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CVL/centre-val-de-loire.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "GES/grand-est.osm.pbf",
            "description": "Grand Est",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "GES/grand-est.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HDF/hauts-de-france.osm.pbf",
            "description": "Hauts-de-France",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HDF/hauts-de-france.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IDF/ile-de-france.osm.pbf",
            "description": "Île-de-France",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IDF/ile-de-france.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NOR/normandie.osm.pbf",
            "description": "Normandie",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NOR/normandie.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "BRE/FR-BRE-ILLENOO2.osm.pbf",
            "description": "Départements Côtes-d'Armor (Bretagne), Ille-et-Vilaine (Bretagne) et Manche (Normandie)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "BRE/FR-BRE-ILLENOO2/FR-BRE-ILLENOO2.poly",
                "file_type": "poly"
            }
        }
    ]
}
