{
    "extracts": [
        {
            "output": "20R/corse.osm.pbf",
            "description": "Corse",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "20R/corse.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "ARA/auvergne-rhone-alpes.osm.pbf",
            "description": "Auvergne-Rhône-Alpes",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ARA/auvergne-rhone-alpes.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NAQ/nouvelle-aquitaine.osm.pbf",
            "description": "Noivelle-Aquitaine",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NAQ/nouvelle-aquitaine.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "OCC/occitanie.osm.pbf",
            "description": "Occitanie (https://polygons.openstreetmap.fr/ : 0.2,0.0005,0.0005)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "OCC/occitanie.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PAC/provence-alpes-cote-d-azur.osm.pbf",
            "description": "Provence-Alpes-Côte d'Azur",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PAC/provence-alpes-cote-d-azur.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PDL/pays-de-la-loire.osm.pbf",
            "description": "Pays de la Loire",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PDL/pays-de-la-loire.poly",
                "file_type": "poly"
            }
        }
    ]
}
