{
    "extracts": [
        {
            "output": "00/RS-00-Beograd.osm.pbf",
            "description": "Београд - diverse - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "00/RS-00-Beograd/RS-00-Beograd.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "01/RS-01-SUTRANS.osm.pbf",
            "description": "Суботица - ЈП Суботица-транс - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "01/RS-01-SUTRANS/RS-01-SUTRANS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "12/RS-12-KGBUS.osm.pbf",
            "description": "Крагујевац - ЈКП Шумадија Крагујевац - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "12/RS-12-KGBUS/RS-12-KGBUS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "16/RS-16-GP-UZICE.osm.pbf",
            "description": "Градска општина Ужице - Градски превоз Ужице - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "16/RS-16-GP-UZICE/RS-16-GP-UZICE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "20/RS-20-JGP-NIS.osm.pbf",
            "description": "Град Ниш - Јавни Градски Превоз Ниш - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "20/RS-20-JGP-NIS/RS-20-JGP-NIS.poly",
                "file_type": "poly"
            }
        }
    ]
}
