{
    "extracts": [
        {
            "output": "MA/morocco.osm.pbf",
            "description": "Morocco",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MA/morocco.poly",
                "file_type": "poly"
            }
        }
    ]
}
