{
    "extracts": [
        {
            "output": "region-europe-UTC+01-center.osm.pbf",
            "description": "Center part of Europe in UTC+01 timezone",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-center.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-europe-UTC+01-east.osm.pbf",
            "description": "Eastern part of Europe in UTC+01 timezone",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-europe-UTC+01-west.osm.pbf",
            "description": "Western part of Europe in UTC+01 timezone",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-west.poly",
                "file_type": "poly"
            }
        }
    ]
}
