{
    "extracts": [
        {
            "output": "AT/austria.osm.pbf",
            "description": "Austria",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT/austria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH/switzerland.osm.pbf",
            "description": "Switzerland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH/switzerland.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE/germany.osm-tmp.pbf",
            "description": "Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE/germany.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NL/netherlands.osm.pbf",
            "description": "Netherlands",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NL/netherlands.poly",
                "file_type": "poly"
            }
        }
    ]
}
