{
    "extracts": [
        {
            "output": "region-europe-UTC+01-center.osm.pbf",
            "description": "Center of Europe",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-center.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-europe-UTC+01-east.osm.pbf",
            "description": "Eastern Europe",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-east.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-europe-UTC+01-west.osm.pbf",
            "description": "Western Europe",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-europe-UTC+01-west.poly",
                "file_type": "poly"
            }
        }
    ]
}
