{
    "extracts": [
        {
            "output": "ES/spain.osm.pbf",
            "description": "Spain",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "ES/spain.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "FR/france.osm.pbf",
            "description": "France",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "FR/france.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LU/luxembourg.osm.pbf",
            "description": "Luxembourg",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LU/luxembourg.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NL/netherlands.osm.pbf",
            "description": "Netherlands",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NL/netherlands.poly",
                "file_type": "poly"
            }
        }
    ]
}
