{
    "extracts": [
        {
            "output": "AT/austria.osm.pbf",
            "description": "Austria",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "AT/austria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "CH/switzerland.osm.pbf",
            "description": "Switzerland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CH/switzerland.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE/germany.osm.pbf",
            "description": "Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE/germany.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DK/denmark.osm.pbf",
            "description": "Denmark",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DK/denmark.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "IT/italy.osm.pbf",
            "description": "Italy",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IT/italy.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "LI/liechtenstein.osm.pbf",
            "description": "Liechtenstein - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "LI/liechtenstein.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NO/norway.osm.pbf",
            "description": "Norway",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NO/norway.poly",
                "file_type": "poly"
            }
        }
    ]
}
