{
    "extracts": [
        {
            "output": "CZ/czechia.osm.pbf",
            "description": "Czechia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CZ/czechia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "HR/hungary.osm.pbf",
            "description": "Hungary",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "HR/hungary.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "PL/poland.osm.pbf",
            "description": "Poland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "PL/poland.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "RS/serbia.osm.pbf",
            "description": "Serbia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "RS/serbia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "SI/slovenia.osm.pbf",
            "description": "Slovenia",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "SI/slovenia.poly",
                "file_type": "poly"
            }
        }
    ]
}
