{
    "extracts": [
        {
            "output": "IN-TS-Hyderabad.osm.pbf",
            "description": "Hyderabad Metropolitan Region, Telangana",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-TS-Hyderabad/IN-TS-Hyderabad.poly",
                "file_type": "poly"
            }
        }
    ]
}
