{
    "extracts": [
        {
            "output": "DE-BY-CBB.osm.pbf",
            "description": "City-Bus Burghausen, City of Burghausen, Altötting County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-CBB/DE-BY-CBB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-DGF.osm.pbf",
            "description": "Dingolfing-Landau County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-DGF/DE-BY-DGF.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-Kim.osm.pbf",
            "description": "Kissingen mobil, Bad Kissingen County, Lower Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-Kim/DE-BY-Kim.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LAVV.osm.pbf",
            "description": "Landshuter Verkehrsverbund, Landshut County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LAVV/DE-BY-LAVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LVG.osm.pbf",
            "description": "Landsberger Verkehrsgemeinschaft, Landsberg am Lech County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LVG/DE-BY-LVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-MVV.osm.pbf",
            "description": "Münchner Verkehrs- und Tarifverbund, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-MVV/DE-BY-MVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-OVG.osm.pbf",
            "description": "Ostallgäuer Verkehrsgemeinschaft, City of Kaufbeuren and Ostallgäu County, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-OVG/DE-BY-OVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RBA.osm.pbf",
            "description": "Regionalbus Augsburg and others, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RBA/DE-BY-RBA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RVO.osm.pbf",
            "description": "Regionalverkehr Oberbayern, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVO/DE-BY-RVO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RVV.osm.pbf",
            "description": "Regensburger Verkehrsverbund, City of Regensburg and Regensburg County, Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVV/DE-BY-RVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGN.osm.pbf",
            "description": "Verkehrsverbund Großraum Nürnberg, Middle and Upper Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGN/DE-BY-VGN.poly",
                "file_type": "poly"
            }
        }
    ]
}
