{
    "extracts": [
        {
            "output": "region-lower-bavaria.osm.pbf",
            "description": "Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-lower-bavaria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-upper-bavaria.osm.pbf",
            "description": "Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-upper-bavaria.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-franconia.osm.pbf",
            "description": "Lower Franconia, Middle Franconia and Upper Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-franconia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-upper-palatinate.osm.pbf",
            "description": "Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-upper-palatinate.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "region-swabia.osm.pbf",
            "description": "Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "region-swabia.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGN.osm.pbf",
            "description": "Verkehrsverbund Großraum Nürnberg, Middle and Upper Franconia and parts of Upper Platinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGN/DE-BY-VGN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RBO.osm.pbf",
            "description": "Regionalbus Ostbayern, Lower Bavaria and Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RBO/DE-BY-RBO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VLMÜ.osm.pbf",
            "description": "Verkehrsgemeinschaft Landkreis Mühldorf am Inn, Mühldorf am Inn County, Upper Bavaria, stretches in to Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VLMÜ/DE-BY-VLMÜ.poly",
                "file_type": "poly"
            }
        }
    ]
}
