{
    "extracts": [
        {
            "output": "DE-BY-CBB.osm.pbf",
            "description": "City of Burghausen, Altötting County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-CBB/DE-BY-CBB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RVO.osm.pbf",
            "description": "Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVO/DE-BY-RVO.poly",
                "file_type": "poly"
            }
        }
    ]
}
