{
    "extracts": [
        {
            "output": "DE-BY-DGF.osm.pbf",
            "description": "Dingolfing-Landau County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-DGF/DE-BY-DGF.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LAVV.osm.pbf",
            "description": "Landshuter Verkehrsverbund, Landshut County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LAVV/DE-BY-LAVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VBP.osm.pbf",
            "description": "Verkehrsbetriebsgesellschaft Passau, City of Passau, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VBP/DE-BY-VBP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VDW.osm.pbf",
            "description": "Verbundtarif Donau Wald, Degendorf, Freyung-Grafenau, Passau and Regen Counties, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VDW/DE-BY-VDW.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGRI.osm.pbf",
            "description": "Verkehrsgemeinschaft Rottal-Inn; Stadtbus Pfarrkirchen, Rottal-Inn County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGRI/DE-BY-VGRI.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VLK.osm.pbf",
            "description": "Verkehrsverbund Landkreis Kelheim, Kelheim County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VLK/DE-BY-VLK.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VSL.osm.pbf",
            "description": "Verkehrsgemeinschaft Straubinger Land and Stadt-Bus-Verkehr Straubing, City of Straubing and Straubing-Bogen County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VSL/DE-BY-VSL.poly",
                "file_type": "poly"
            }
        }
    ]
}
