{
    "extracts": [
        {
            "output": "DE-BY-AVV.osm.pbf",
            "description": "Augsburger Verkehrs- und Tarifverbund, City of Augsburg, Augsburg, Dillingen an der Donau and Aichach-Friedberg Counties, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-AVV/DE-BY-AVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-OVG.osm.pbf",
            "description": "Ostallgäuer Verkehrsgemeinschaft, City of Kaufbeuren and Ostallgäu County, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-OVG/DE-BY-OVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RBA.osm.pbf",
            "description": "Regionalbus Augsburg and others, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RBA/DE-BY-RBA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VVM-Mittelschwaben.osm.pbf",
            "description": "Verkehrsverbund Mittelschwaben, City of Memmingen, Günzburg and Unterallgäu Counties, Swabia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VVM-Mittelschwaben/DE-BY-VVM-Mittelschwaben.poly",
                "file_type": "poly"
            }
        }
    ]
}
