{
    "extracts": [
        {
            "output": "DE-BY-CBB.osm.pbf",
            "description": "City-Bus Burghausen, City of Burghausen, Altötting County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-CBB/DE-BY-CBB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-DGF.osm.pbf",
            "description": "Dingolfing-Landau County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-DGF/DE-BY-DGF.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LAVV.osm.pbf",
            "description": "Landshuter Verkehrsverbund, Landshut County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LAVV/DE-BY-LAVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LVG.osm.pbf",
            "description": "Landsberger Verkehrsgemeinschaft, Landsberg am Lech County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LVG/DE-BY-LVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-MVV.osm.pbf",
            "description": "Münchner Verkehrs- und Tarifverbund, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-MVV/DE-BY-MVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RoVG.osm.pbf",
            "description": "Rosenheimer Verkehrsgesellschaft, City and County of Rosenheim, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RoVG/DE-BY-RoVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RVO.osm.pbf",
            "description": "Regionalverkehr Oberbayern, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVO/DE-BY-RVO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VBP.osm.pbf",
            "description": "Verkehrsbetriebsgesellschaft Passau, City of Passau, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VBP/DE-BY-VBP.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VDW.osm.pbf",
            "description": "Verbundtarif DonauWald, Degendorf, Freyung-Grafenau, Passau and Regen Counties, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VDW/DE-BY-VDW.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGI.osm.pbf",
            "description": "Verkehrsverbund Großraum Ingolstadt, Ingolstadt, Eichstädt, Neuburg-Schrobenhausen and Pfaffenhofen an der Ilm Counties, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGI/DE-BY-VGI.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGRI.osm.pbf",
            "description": "Verkehrsgemeinschaft Rottal-Inn; Stadtbus Pfarrkirchen, Rottal-Inn County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGRI/DE-BY-VGRI.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VLK.osm.pbf",
            "description": "Verkehrsverbund Landkreis Kelheim, Kelheim County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VLK/DE-BY-VLK.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VLMÜ.osm.pbf",
            "description": "Verkehrsgemeinschaft Landkreis Mühldorf am Inn, Mühldorf am Inn County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VLMÜ/DE-BY-VLMÜ.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VSL.osm.pbf",
            "description": "Verkehrsgemeinschaft Straubinger Land and Stadt-Bus-Verkehr Straubing, City of Straubing and Straubing-Bogen County, Lower Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VSL/DE-BY-VSL.poly",
                "file_type": "poly"
            }
        }
    ]
}
