{
    "extracts": [
        {
            "output": "DE-BY-Kim.osm.pbf",
            "description": "Kissingen mobil, Bad Kissingen County, Lower Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-Kim/DE-BY-Kim.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VAB.osm.pbf",
            "description": "Verkehrsgemeinschaft am Bayerischen Untermain, City of Aschaffenburg and Aschaffenburg and Miltenberg Counties, Lower Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VAB/DE-BY-VAB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGN.osm.pbf",
            "description": "Verkehrsverbund Großraum Nürnberg, Middle and Upper Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGN/DE-BY-VGN.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VVM-Mainfranken.osm.pbf",
            "description": "Verkehrsverbund Mainfranken, City of Würzburg, Würzburg, Main-Spessart and KitzingenCounties, Lower Franconia, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VVM-Mainfranken/DE-BY-VVM-Mainfranken.poly",
                "file_type": "poly"
            }
        }
    ]
}
