{
    "extracts": [
        {
            "output": "DE-BY-RVV.osm.pbf",
            "description": "Regensburger Verkehrsverbund, City of Regensburg and Regensburg County, Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVV/DE-BY-RVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-TON.osm.pbf",
            "description": "Tarif Oberpfalz Nord, Cities of Amberg, Weiden in der Oberpfalz, Counties Amberg-Sulzbach, Neustadt a. d. Waldnaab, Schwandorf, and Tirschenreuth, Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-TON/DE-BY-TON.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VLC.osm.pbf",
            "description": "Verkehrsgemeinschaft Landkreis Cham, Cham County, Upper Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VLC/DE-BY-VLC.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VRG.osm.pbf",
            "description": "Verkehrsgemeinschaft Rhön-Grabfeld, Rhön-Grabfeld County, Lower Palatinate, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VRG/DE-BY-VRG.poly",
                "file_type": "poly"
            }
        }
    ]
}
