{
    "extracts": [
        {
            "output": "DE-BY-CBB.osm.pbf",
            "description": "City-Bus Burghausen, City of Burghausen, Altötting County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-CBB/DE-BY-CBB.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-LVG.osm.pbf",
            "description": "Landsberger Verkehrsgemeinschaft, Landsberg am Lech County, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-LVG/DE-BY-LVG.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-MVV.osm.pbf",
            "description": "Münchner Verkehrs- und Tarifverbund, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-MVV/DE-BY-MVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-RVO.osm.pbf",
            "description": "Regionalverkehr Oberbayern, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-RVO/DE-BY-RVO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGAOE.osm.pbf",
            "description": "Verkehrsgemeinschaft Altötting, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGAOE/DE-BY-VGAOE.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-BY-VGI.osm.pbf",
            "description": "Verkehrsverbund Großraum Ingolstadt, Ingolstadt, Eichstädt, Neuburg-Schrobenhausen and Pfaffenhofen an der Ilm Counties, Upper Bavaria, Bavaria, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-BY-VGI/DE-BY-VGI.poly",
                "file_type": "poly"
            }
        }
    ]
}
