{
    "extracts": [
        {
            "output": "US-AK-Anchorage-PTD.osm.pbf",
            "description": "Anchorage, PTD, Alaska",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US-AK-Anchorage-PTD/US-AK-Anchorage-PDT.poly",
                "file_type": "poly"
            }
        }
    ]
}
