{
    "extracts": [
        {
            "output": "IR-23-Tehran.osm.pbf",
            "description": "Theran, Tehran Province",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IR-23-Tehran/IR-23-Tehran.poly",
                "file_type": "poly"
            }
        }
    ]
}
