{
    "extracts": [
        {
            "output": "US/level1-states-AL-AR-IA-IL-LA-MS-MO-WI.osm.pbf",
            "description": "Unites States of America (noeastrth of CST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/level1-states-AL-AR-IA-IL-LA-MS-MO-WI.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "US/level1-states-KS-MN-NE-ND-OK-SD-TX.osm.pbf",
            "description": "Unites States of America (west of CST time zone)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "US/level1-states-KS-MN-NE-ND-OK-SD-TX.poly",
                "file_type": "poly"
            }
        }
    ]
}
