{
    "extracts": [
        {
            "output": "IL/level0-us-state-IL.osm.pbf",
            "description": "Illinois",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IL/level0-us-state-IL.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "WI/level0-us-state-WI.osm.pbf",
            "description": "Wisconsin",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "WI/level0-us-state-WI.poly",
                "file_type": "poly"
            }
        }
    ]
}
