{
    "extracts": [
        {
            "output": "22/BG-22-Sofia.osm.pbf",
            "description": "Sofia-City - r1739543 polygons.openstreetmap.fr params: 0.000000 0.000500 0.000500",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "22/BG-22-Sofia/BG-22-Sofia.poly",
                "file_type": "poly"
            }
        }
    ]
}
