{
    "extracts": [
        {
            "output": "level1-us-states-CA-NV-OR-WA.osm.pbf",
            "description": "California, Nevada, Oregon, Washington",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level1-us-states-CA-NV-OR-WA.poly",
                "file_type": "poly"
            }
        }
    ]
}
