{
    "extracts": [
        {
            "output": "CA/level0-us-state-CA.osm.pbf",
            "description": "California",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA/level0-us-state-CA.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "NV/level0-us-state-NV.osm.pbf",
            "description": "Nevada",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "NV/level0-us-state-NV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "WA/level0-us-state-WA.osm.pbf",
            "description": "Washington",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "WA/level0-us-state-WA.poly",
                "file_type": "poly"
            }
        }
    ]
}
