{
    "extracts": [
        {
            "output": "IN-RJ-Jaipur.osm.pbf",
            "description": "Jaipur District, Rajasthan",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-RJ-Jaipur/IN-RJ-Jaipur.poly",
                "file_type": "poly"
            }
        }
    ]
}
