{
    "extracts": [
        {
            "output": "DE-NW-VRR.osm.pbf",
            "description": "Verkehrsverbund Rhein-Ruhr, North Rhine-Westphalia, Germany",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-NW-VRR/DE-NW-VRR.poly",
                "file_type": "poly"
            }
        }
    ]
}
