{
    "extracts": [
        {
            "output": "CA-MB-WT.osm.pbf",
            "description": "City of Winnipeg, Manitoba",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "CA-MB-WT/CA-MB-WT.poly",
                "file_type": "poly"
            }
        }
    ]
}
