{
    "extracts": [
        {
            "output": "MN/NI-MN-IRTRAMMA.osm.pbf",
            "description": "Managua y Ciudad Sandino, Nicaragua",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "MN/NI-MN-IRTRAMMA/NI-MN-IRTRAMMA.poly",
                "file_type": "poly"
            }
        }
    ]
}
