{
    "extracts": [
        {
            "output": "DE-HE-NVV.osm.pbf",
            "description": "Nordhessischer VerkehrsVerbund",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-HE-NVV/DE-HE-NVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-HE-RMV.osm.pbf",
            "description": "Rhein-Main-Verkehrsverbund",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-HE-RMV/DE-HE-RMV.poly",
                "file_type": "poly"
            }
        }
    ]
}
