{
    "extracts": [
        {
            "output": "IN-GJ-Ahmedabad.osm.pbf",
            "description": "Ahmedabad District, Gujarat",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "IN-GJ-Ahmedabad/IN-GJ-Ahmedabad.poly",
                "file_type": "poly"
            }
        }
    ]
}
