{
    "extracts": [
        {
            "output": "DE-SN-VMS.osm.pbf",
            "description": "Verkehrsverbund Mittelsachsen, Region Mittelsachsen (Chemnitz / Zwickau)",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-SN-VMS/DE-SN-VMS.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-SN-VVO.osm.pbf",
            "description": "Verkehrsverbund Oberelbe, Stadt Dresden, Landkreise Meißen, Sächsische Schweiz-Osterzgebirge und der westliche Teil des Landkreises Bautzen",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-SN-VVO/DE-SN-VVO.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-SN-VVV.osm.pbf",
            "description": "Verkehrsverbund Vogtland, Vogtlandkreis, Sachsen, Deutschland",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-SN-VVV/DE-SN-VVV.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-SN-ZVON.osm.pbf",
            "description": "Zweckverband Verkehrsverbund Oberlausitz-Niederschlesien, Landkreis Görlitz und der östliche Teil des Landkreises Bautzen",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-SN-ZVON/DE-SN-ZVON.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "DE-SN-ZVVO.osm.pbf",
            "description": "Zweckverband Verkehrsverbund Ostsachsen, Stadt Dresden, Landkreise Bautzen, Görlitz, Meißen und Sächsische Schweiz-Osterzgebirge",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "DE-SN-ZVVO/DE-SN-ZVVO.poly",
                "file_type": "poly"
            }
        }
    ]
}
