{
    "extracts": [
        {
            "output": "JK/ID-JK-Transjakarta.osm.pbf",
            "description": "Daerah Khusus Ibukota Jakarta, Banten, Jawa Barat",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "JK/ID-JK-Transjakarta/ID-JK-Transjakarta.poly",
                "file_type": "poly"
            }
        }
    ]
}
