{
    "extracts": [
        {
            "output": "level3-ID-state-java.osm.pbf",
            "description": "Island of Java",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "level3-ID-state-java.poly",
                "file_type": "poly"
            }
        }
    ]
}
