{
    "extracts": [
        {
            "output": "xx-region-masovian-voivodeship.osm.pbf",
            "description": "Masovian Voivodeship - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-masovian-voivodeship.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-south.osm.pbf",
            "description": "South Macroregion - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-south.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "xx-region-south-west.osm.pbf",
            "description": "South-west Macroregion - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.20000-0.00050-0.00050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "xx-region-south-west.poly",
                "file_type": "poly"
            }
        }
    ]
}
