{
    "extracts": [
        {
            "output": "14/PL-14-ZTM-Warszawa.osm.pbf",
            "description": "Warszawa, Polska i jej obszar miejski - Zarząd Transportu Miejskiego Warszawa - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "14/PL-14-ZTM-Warszawa/PL-14-ZTM-Warszawa.poly",
                "file_type": "poly"
            }
        }
    ]
}
