{
    "extracts": [
        {
            "output": "24/PL-24-Koleje-Slaskie",
            "description": "Województwo Śląskie - Koleje Śląskie - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "24/PL-24-Koleje-Slaskie/PL-24-Koleje-Slaskie.poly",
                "file_type": "poly"
            }
        },
        {
            "output": "24/PL-24-ZTM-Katowice.osm.pbf",
            "description": "Górnośląsko-Zagłębiowska Metropolia - Zarząd Transportu Metropolitalnego - https://polygons.openstreetmap.fr/get_poly.py?id=relation-ID&params=0.020000-0.0050-0.0050",
            "output_header": {
                "osmosis_replication_timestamp": null
            },
            "polygon": {
                "file_name": "24/PL-24-ZTM-Katowice/PL-24-ZTM-Katowice.poly",
                "file_type": "poly"
            }
        }
    ]
}
